[2013-10-07 19:49] TienHai opened #2 "Can't see epub on Android"
Hi,

I try to open ePub3 file cole-voyage-of-life-20120320.epub (I found it in readium-sdk/TestData/ ), the app no crash when open ePub file.
But can see the page, the page is blank, I have this error:

10-07 13:06:13.631: I/NavigationTableActivity(6592): Open webview at : 0-intro.xhtml
10-07 13:06:13.821: D/WebViewActivity(6592): onPageStarted: file:///android_asset/readium-shared-js/reader.html

[2013-10-17 08:09] #2 closed, assigned to nobody

[2014-03-12 14:43] sajjadrad opened #17 "There is no getCurrentSelectionCfi() function in reader_view.js"
Hi
I have some problems with using Readium sdk.
There is no getCurrentSelectionCfi() or addSelectionHighlight() function in reader_view.js in master branch.so I fetched release 0.13 and replace readium-shared-js in project but after that no epub opened.
How can I use this methods for ios SDK?

Thanks

[2014-03-12 14:47] #17 closed, assigned to nobody

[2014-04-09 07:02] sureshmuttagi opened #24 "Text highlighting"
HI,
Thanks to all developers. I m building a web app to read epub files using Readium-viewer js library and I am succeeded in that. Now my intention is to provide text highlighting option. Now my doubt is, is this option is in Readium-Shared js library ? and can I use this Readium-Shared js libarary in my existing  project. Thanks in advance

[2014-05-12 15:17] ClementHard opened #26 "Separate non-paginated modal viewport for ancillary EPUB documents / non-linear HTML spine items"
Hi,
I'm trying to open non linear items into a popup webview on android but the InternalLinksSupport does not seems to support links to those items properly.

Is it possible to check the linear nature of the item and add a target on those links ?
Is there another way to do it ?
Thanks

[2014-07-08 11:47] #24 closed, assigned to nobody

[2014-07-08 12:10] danielweck opened #33 "EPUB3 epub:type=note/footnote popup mechanism?"
As per other reading systems UIs (e.g. iBooks)

Waffle connects to https://github.com/readium/readium-js-viewer/pull/505
Waffle connects to https://github.com/readium/readium-shared-js/pull/270

[2014-07-08 12:13] danielweck opened #34 "Font size option (user preference) does not work when defined explicitly in author-provided CSS"
Originally posted by
https://github.com/vincent-gros
at
https://github.com/readium/readium-js-viewer/issues/47
#

When the CSS file including in the EPUB file has explicit font size values like:
`.medium {
    font-size: medium;
}`
The font size change option doesn't work.
This issue seems to be related to some functions in _lib/ReaderSetingsDialog.js_.
To see the problem, I made a sample, [avaiab

[2014-07-08 12:23] danielweck opened #35 "Imprecise CFI for getFirstVisibleElementCfi() / cfi_navigation_logic.js"
Originally posted by
@edas
at
https://github.com/readium/readium-js/issues/47

=======

The CFI returned by getFirstVisibleElementCfi() in cfi_navigation_logic.js is unprecise.

# Procedure to reproduce

Open the redium-js-viewer with the embedded book 'accessible epub 3'. Go to chapter 2 and turn a few pages. Launch getFirstVisibleElementCfi()

# Actual result

The partial CFI returned is always

[2014-07-08 12:28] danielweck opened #36 "Reading position is lost when resizing the browser window in a reflow document"
Originally posted by
@edas
at
https://github.com/readium/readium-js/issues/48
#
### Reproduce

Open the readium-js-viewer (but this is not viewer-specific), go to a reflow book (like the embedded accessible epub 3). Go to chapter 2, turn a few pages. Look at the text visible in the top left corner. Change the size of the browser

It is easier to reproduce if you go next to the end of the chapter a

[2014-07-08 12:30] danielweck opened #37 "In 2 pages mode, the second page may not show up entirely"
Originally posted by
@edas
at
https://github.com/readium/readium-js/issues/49

========

![readium](https://cloud.githubusercontent.com/assets/15271/3456975/145d7bb4-01f4-11e4-874c-6f0d5bc96305.png)

See screenshot (in the right page : lack of a few characters on end of line, and lack of the blue right border of the "note"). Both reproduceable in Firefox and Chrome, both in master and in develop b

[2014-07-08 16:47] danielweck opened #38 "Broken pagination (CSS columns) with Right To Left page progression direction and vertical writing mode"
Originally posted by
@toshiakikoike
at
https://github.com/readium/readium-js-viewer/issues/51
#

epub file:
https://code.google.com/p/epub-samples/downloads/detail?name=mymedia_lite-20130621.epub

browser:
Chrome 35.0.1916.114

when ppd =rtl, no pagenation above env.
<img src="https://raw.githubusercontent.com/toshiakikoike/epub_file/master/readium_test/readium-ng.png"/>

Before Chrome 32.0.1700.1

[2014-07-09 21:28] #38 closed, assigned to nobody

[2014-07-10 06:44] danielweck opened #39 "Weird small square clipping (partial render) with FXL books in OSX WebView, maybe new "scaler" div regression?"
https://github.com/readium/readium-shared-js/commit/68d9ac92aa78de77db109a7211cc964a2e405a7c

[2014-07-10 06:47] danielweck opened #40 "Vertical (writing mode) emulated pagination, fails in iOS WebView"
Not a regression, as it wasn't working before. Still, reference to the newly-introduced vertical-writing-mode support:

https://github.com/readium/readium-shared-js/issues/38

[2014-07-10 08:58] danielweck opened #41 "navigator.epubReadingSystem injected in EPUB content documents with delay"
Originally posted by @codingisacopingstrategy
at
https://github.com/readium/readium-js-viewer/issues/13

[2014-07-10 09:09] #36 closed, assigned to nobody

[2014-07-10 09:15] danielweck opened #42 "Media Overlays code refactoring"
Split large "MO player" Javascript file: Audio, TTS, BlankPage, embedded audio/video.

[2014-07-13 18:57] danielweck opened #43 "Check that EPUB2 TOC links work"
Bugzilla:

https://app.devzing.com/Readium/bugzilla/show_bug.cgi?id=43

[2014-07-13 18:59] danielweck opened #44 "Fallbacks do not work"
Tested against the EPUB TestSuite 0100 (Reflowable content) and none of the fallback tests pass.

Bugzilla:
https://app.devzing.com/Readium/bugzilla/show_bug.cgi?id=52

[2014-07-13 19:02] danielweck opened #45 "When window size is changed any image is re-scaled so to match the aspect ratio of the window"
NEEDS SAMPLE EPUB TO REPRODUCE ISSUE!

When the window with an image in a reflowable EPUB (2 or 3) is resized, the image is not proportionally scaled but is instead re-scaled so that it's aspect ratio matches the aspect ratio of the window.  This happens in any EPUB with images, whether the cover or an image in the body of the file.

Bugzilla:
https://app.devzing.com/Readium/bugzilla/show_bug.cgi?

[2014-07-13 19:05] danielweck opened #46 "User can inadvertently load a PDF into the Chrome extension"
The HTTP PDF link correctly opened the targeted PDF document when I first clicked on the link (target="_BLANK"). However, whilst browsing the book I used the "back" browser navigation key instead of "previous page", and then clicked on the PDF link => this time, it opened within the spine item iframe, displayed using Chrome's built-in PDF viewer.

Test case e-book:

http://diagramcenter.org/standa

[2014-07-13 19:08] danielweck opened #47 "Verify that jQuery selectors are escaped everywhere needed (epub-cfi.js?)"
This problem of XHTML / XML unique identifiers containing "special" characters was brought to my attention via the IDPF Readium forum (escaping rules for jQuery selectors):

http://idpf.org/forum/topic-1438

...so I resolved the issue for Media Overlays, and had a go at other areas as well:

https://github.com/readium/readium-shared-js/commit/26c771396751f93bf01118a884a3592afd89f061

I used this r

[2014-07-13 19:10] danielweck opened #48 "Media Overlays: slight audio hiccup at first word in XHTML content document, Safari (not Chrome)"
On Mac OSX, I can reproduce a hiccup on the very first word of a page, when using Safari (cloud reader). However Chrome works fine (cloud reader and extension).

This is a seeking issue with HTML5 audio: Chrome is okay, but under Safari the clip-end seems to be reached too late (the Javascript audio-player polls for audio.currentTime using a very short time interval), resulting in a few millisecon

[2014-07-13 19:33] danielweck opened #49 "What contributes to a page clipping text in fixed layout?"
Using the file epub30-test-0220 I noticed that even though the file property is set to pre-paginated, the text in the first xhtml content doc is clipped on the page. Rendition:flow is set to auto, which might be the reason; possibly there is no parameter yet set as auto is reading system dependent.

But I'm very curious what would cause around 100 words to clip on a pre-paginated file. I would mor

[2014-07-13 19:51] danielweck opened #50 "FXL Viewport is smaller than specified on iPad running iOS 7"
The view port of this file is set at <meta name="viewport" content="width=576, height=1024"/> yet it renders much smaller on my iPad. This is true of the first three files in conformance for fixed layout (220,221, and 222).

Bugzilla:
https://app.devzing.com/Readium/bugzilla/show_bug.cgi?id=81

[2014-07-13 19:54] danielweck opened #51 "Inconsistent word-spacing across platforms (font metrics?)"
From Talha Yalta talhayalta@gmail.com:

Still, as can be seen in the attached file, Readium has (I think) word
spacing problems. This is a serious issue because the looks of the
fixed-layout book can be seriously affected by it, resulting in text
cutoff etc.

After testing the attached file with Azardi, Readium in Windows 7 and
Readium in Snow Leopard; it seems to me that
word spacing in Readium (

[2014-07-13 19:55] danielweck opened #52 "Global styles are not applied to SVG"
Readium supports applying global styles to documents so as to, for example, create night mode, etc.  However, there is now way for such styles to be applied to SVG content, whether embedded or as a SVG spine item.  As a result, effects such as night mode fail.

This applies to all platforms.  iBooks has the same bug.

Bugzilla:
https://app.devzing.com/Readium/bugzilla/show_bug.cgi?id=67

[2014-07-13 19:56] danielweck opened #53 "Rendering book with SVG in spine, some of the pages are not rendered"
NEED SAMPLE EPUB TO REPRODUCE ISSUE!

The book SVG-in-Spine consists of a number of pages which are SVG.  Two pages (#2 and #5) do not render.

This was reported in txtr.

the bug has been confirmed and was tested after bug 65 (which had to do with mishandling SVG in the spine) was fixed.

[2014-07-13 20:23] danielweck opened #54 "Embedded videos in 1+ column (paginated reflow) fail to interact / play (OSX WebView, WebKit Safari/Chrome/Opera?)"
The current pagination mechanism is based on CSS columns, and there is a bug with OSX WebView and Safari/Chrome/Opera which prevents HTML5 videos from working in any other column than the first.

[2014-07-13 20:30] danielweck opened #55 "squished FXL pages on initial viewing (scroll mode, iOS Launcher)"
Bugzilla:
https://app.devzing.com/Readium/bugzilla/show_bug.cgi?id=55

[2014-07-13 20:31] danielweck opened #56 "Previous/Next buttons are not disabled when at beginning/end of epub"
The previous and next buttons should be disabled when they won't do anything such as at the beginning and end of the epub.  This can be especially confusing for people using a screen reader as they will hear the button title but activating it will not do anything.

Bugzilla:
https://app.devzing.com/Readium/bugzilla/show_bug.cgi?id=79

[2014-07-13 20:33] #56 closed, assigned to nobody

[2014-07-15 21:31] danielweck opened #57 "Media Overlays + scroll view: user-invoked scroll => playback shifts to visible element"
This default behaviour can actually get really annoying, especially when users try to "look around" before or after the current playback position.

[2014-07-21 16:13] danielweck opened #58 "Media Overlays play/pause/resume, playback at visible element OR preserved previous location?"
Related issue:

https://github.com/readium/readium-shared-js/issues/57

[2014-07-21 16:14] danielweck opened #59 "Media Overlays automatic page turn: only for Fixed Layout FXL books!"
There is a setting for Media Overlays playback that enables/disables "automatic page turn". This only works with fixed layout prepaginated EPUBs, not column-paginated reflow documents.

[2014-07-22 21:50] #39 closed, assigned to nobody

[2014-07-24 08:50] danielweck opened #60 "Weird reflowable content iframe clipping issue in WebView (WebKit) in SDK-LauncherOSX"

[2014-07-24 08:51] #60 closed, assigned to nobody

[2014-07-25 17:36] danielweck opened #61 "Plugin extensibility (e.g. page transitions, reflow views, annotations, ...)"

[2014-07-25 19:14] danielweck opened #62 "In Safari OSX, the scrollbar does not show-up in scrolling view (works in Chrome)"

[2014-07-25 22:37] #62 closed, assigned to nobody

[2014-07-25 22:50] danielweck opened #63 "Code aggregation, minification, optimisation?"
Native launcher apps currently include the Javascript codebase as-is, using direct links to individual files. The readium-js and readium-js-viewer repositories contain build tasks that take care of packaging the JS payload from readium-shared-js. Should a similar build subsystem be provided for the native apps? (note: this would require some changes in the automated Continuous Integration build sc

[2014-07-25 23:36] danielweck opened #64 "Images not resizing to fit the screen in scrollview"
Originally posted by @vanisuthamathi
https://github.com/readium/readium-js/issues/57
## Steps to Reproduce:
1. Enable scroll view - readium.reader.updateSettings({
          scroll: "scroll-doc"
       }); in the Epub reader view
2. Read any article containing big image sizes like 600x511, 600X300 and etc.,
   Observation:
   -----------------
   Images are not resizing to fit the screen as shown

[2014-07-27 20:05] danielweck opened #65 "reflow deduceSyntheticSpread should also take into account optimal column width, instead of just aspect ratio"
Very narrow 2-page spread columns are hard to read, auto-switch to single-page would be nice when reaching a pre-defined threshold (iBooksX does this too).

Related issue:
https://github.com/readium/readium-js-viewer/issues/107

https://github.com/readium/readium-js-viewer/issues/94
and also:

https://github.com/readium/readium-js-viewer/issues/108
https://github.com/readium/readium-js-viewer/issu

[2014-07-27 21:58] danielweck opened #66 "Reflow pagination sometimes blank/empty second page when should be single CSS column"

[2014-07-27 22:07] #66 closed, assigned to nobody

[2014-07-28 12:15] danielweck opened #67 "Media Overlays RTL vertical writing mode + Right To Left page progression direction: page does not turn"
First three chapters with audio:
https://code.google.com/p/epub-samples/downloads/detail?name=kusamakura-japanese-vertical-writing-20121124.epub

[2014-07-28 20:26] danielweck opened #68 "FXL rendition page-spread "center", "right", "left" combinations on spine item: erratic iframe positioning"

[2014-07-28 21:13] #68 closed, assigned to nobody

[2014-07-28 21:41] danielweck opened #69 "Media Overlays playback does not progress pages (Windows)"
Originally posted by @becka11y at
https://github.com/readium/readium-js-viewer/issues/78

Tested Release 0.14 in IE 7, Firefox 30, and Chrome 35 in Windows 7 running via parallels 8 on a MBP OS X 10.9.4

Tested with epub30-test-0120-20140612.epub.

Open the above test file and navigate to Test mo-nav-020 Section Navigation - TOC. Open the Table of Contents and click on a paragraph in the test to s

[2014-07-28 21:43] danielweck opened #70 "Media Overlays playback rate resets after page change (IE 11)"
Originally posted by @becka11y at
https://github.com/readium/readium-js-viewer/issues/77

If you update the MO rate and then let playback continue across a page boundary the rate will be reset back to 1.

IE 11 in Windows 7 other browsers in Windows do not exhibit this problem.

[2014-07-28 22:30] danielweck opened #71 "Support for alternate style tags"
http://www.idpf.org/epub/altss-tags/

http://www.idpf.org/epub/31/spec/epub-contentdocs.html#sec-html-alternate-style-tags

[2014-07-29 12:00] danielweck opened #72 "Line height and word spacing settings (in addition to font-size, margins)"

[2014-07-29 12:05] danielweck opened #73 "Font-family viewer setting (in addition to font-size, margins)"
See also:

https://github.com/readium/readium-js-viewer/issues/115

[2014-07-29 14:33] danielweck opened #74 "TTS synthetic speech readout, word-level highlighting within sentence-level utterance"
The Media Overlays playback engine already implements a similar approach, but HTML Speech API struggles to find the correct word boundaries unfortunately (erratic highlighting).

This feature request is independent from MO though (speech readout of text-only ebooks).

[2014-07-29 15:48] #57 closed, assigned to nobody

[2014-07-29 17:17] danielweck opened #75 "rendition orientation not supported"
http://www.idpf.org/epub/fxl/#property-orientation

https://github.com/readium/readium-shared-js/blob/develop/js/models/spine_item.js#L50

[2014-07-30 22:11] danielweck opened #77 "Activated hyperlinks in HTML documents get their parameters suppressed (query and fragment)"
Is there a use-case whereby EPUB3 XHTML5 Content Documents include local links with parameters in the URI query or fragment parts? Such links may be authored specifically to enable an embedded Javascript event / navigation handler to detect user-activated interactive elements, and pass information along the way. Although "parametered" hyperlinks may not be common now, I wonder if educational publi

[2014-07-31 08:59] #58 closed, assigned to nobody

[2014-07-31 08:59] #55 closed, assigned to nobody

[2014-07-31 09:01] #50 closed, assigned to nobody

[2014-07-31 09:03] #49 closed, assigned to nobody

[2014-07-31 09:06] #43 closed, assigned to nobody

[2014-07-31 09:09] danielweck opened #78 "Video/audio continues playing when in "hidden" column (reflow pagination) or scroll area"

[2014-07-31 09:11] danielweck opened #79 "Pagination API to detect start/end of publication + per-spine page / spread count-progression"

[2014-07-31 15:44] danielweck opened #80 "CSS border clipping with some column-paginated reflowable documents"
![accessible_epub_3_normal](https://cloud.githubusercontent.com/assets/625201/3766981/8d5a178e-18c9-11e4-8509-87a9b683d855.png)

![accessible_epub_3_bug](https://cloud.githubusercontent.com/assets/625201/3766982/9366a318-18c9-11e4-9857-2acce83d1797.png)

[2014-07-31 16:23] danielweck opened #81 "MathJax payload optional for cloud reader? (lazy download + JS load?)"

[2014-07-31 21:31] #41 closed, assigned to jccr

[2014-08-01 11:13] pkra opened #82 "possible MathJax optimizations"
Just to explain my comment at #76

IIUC, the new MathJax integration waits 8 seconds for MathJax rendering to complete before unveiling the chapter (to reduce jitter). It might make sense to change the MathJax configuration to increase MathJax's chunking, i.e., the number of equations that get injected once they're finished rendering (see [EqnChunk etc](http://docs.mathjax.org/en/latest/options/SV

[2014-08-01 15:17] rkwright opened #83 "The viewbox attribute is not being applied when SVG is rendered from the spine"
When a SVG file is rendered directly from the spine (as opposed to on a HTML page), the viewbox attribute, if present, must be applied as part of the rendering process.  This is not being done at present so the contents of the SVG file are not rendered correctly.  Pages 2 and 3 of this file
https://readiumfoundation.box.com/s/3znoha6m4oq8lgmian56
 demonstrates the problem.
This was found in the Ch

[2014-08-01 17:49] #83 closed, assigned to danielweck

[2014-08-01 18:19] danielweck opened #84 "SVG missing width/height viewport dimensions, fallback to reader's own viewport space?"
@rkwright
Follow-up to this issue:
https://github.com/readium/readium-shared-js/issues/83

Code:
https://github.com/readium/readium-shared-js/blob/develop/js/views/one_page_view.js#L574

[2014-08-01 18:44] rkwright opened #85 "Zoom value of 100% creates unexpected results (over-zoomed and clipped)"
Try this:
- go to page 5 of Tiny SVG (https://readiumfoundation.box.com/s/3znoha6m4oq8lgmian56)
- select fit to screen
- Select one-up in settings
- Select custom zoom and set it to 100%
  -> Whoops.  Content is zoomed in much more that 100% and consequently clipped.

This does NOT occur is one sets it to 99% ?!

[2014-08-01 20:20] danielweck opened #86 "Support for rendition:viewport"

[2014-08-01 20:28] #85 closed, assigned to ryanackley

[2014-08-01 20:28] #86 closed, assigned to danielweck

[2014-08-01 20:28] #84 closed, assigned to danielweck

[2014-08-01 22:49] danielweck opened #87 "Visibility computations by client rectangles, vertical writing mode (column layout)"
@yuriyp
@idov-isd

Yuri, Igor?

Given your past contributions to the "rectangle" algorithms in CfiNavigationLogic, any chance you could help me figure-out how to implement support for vertical writing mode + right-to-left text/page progression?

https://github.com/readium/readium-shared-js/pull/16

I would really appreciate your help, as this is a blocking issue that prevents supports for Japanese

[2014-08-04 14:32] danielweck opened #88 "Image "fit resizing" algorithm leads to inconsistent results"
Issue moved from here (originally recorded by @rkwright):
https://github.com/readium/readium-js-viewer/issues/135

The IDPF sample document Le Vrai Regime Anti-Cancer
https://code.google.com/p/epub-samples/wiki/SamplesListing#regime-anticancer-arabic
has a title page which is a a JPEG image (which is loaded via a XHTML file via an iFrame). The image is rendered correctly in Chrome (and the Readium

[2014-08-04 17:45] danielweck opened #89 "Raster images in spine are not fully supported (relies on arbitrary browser HTML wrapper)"
The raster-images-in-spine feature "just works" because of the unintended
benefit of web browsers wrapping images within an arbitrary HTML
template. My guess is that most (if not all) browsers do this, but
obviously there is no guarantee that the HTML markup is consistent
across platforms, or that this will continue to work in future web
browser updates (this is akin to using a "private API", whic

[2014-08-05 14:30] #67 closed, assigned to nobody

[2014-08-05 15:33] danielweck opened #90 "regression: SVG url(#xxx) xml:base incorrect when HTML head injected with base tag"
This seems to be a known issue with most browsers :(

Note: I tried to "force" the xml:base on the SVG element, to no avail.

Test EPUB: https://readiumfoundation.box.com/s/lv024fngot7eg3unnw50
(e.g. svg-007.xhtml)

Regression introduced by:
https://github.com/readium/readium-shared-js/pull/76

iframe loader code:
https://github.com/readium/readium-shared-js/blob/develop/js/views/iframe_loader.js#

[2014-08-06 16:41] danielweck opened #91 "rendition:flow for rendition:layout=pre-paginated, EPUB3 specification violation?"
UPDATE: please read below for resolution (Readium "does the right thing", by considering overriding user preferences)

It looks like Readium currently disobey the EPUB3 specification, by allowing pre-paginated (FXL) SVG/HTML Content Documents to display within the scroll view.

"
If a Reading Systems supports the rendition:layout property, it must ignore the rendition:flow property when it has bee

[2014-08-06 16:51] danielweck opened #92 "rendition:scroll for Japanese (vertical writing mode, Right To Left), should be horizontal scroll direction, not vertical"
http://www.idpf.org/epub/301/spec/epub-publications.html#flow-scrolled-continuous

[2014-08-06 21:49] #91 closed, assigned to nobody

[2014-08-08 00:43] danielweck opened #94 "unicode internal links not followed (spine item href not matched, escaped characters)"

[2014-08-08 00:45] #94 closed, assigned to danielweck

[2014-08-08 12:43] #65 closed, assigned to nobody

[2014-08-11 15:03] danielweck opened #95 "Verify that internal linking into Arabic/Hebrew EPUBs work (horizontal writing mode, Right To Left progression)"
The inappropriately-named CfiNavigationLogic Javascript class allegedly supports this, but it needs to be double-checked:

https://github.com/readium/readium-shared-js/blob/develop/js/views/cfi_navigation_logic.js

...especially as support for vertical writing mode is to be introduced (which will probably require some refactorings):

https://github.com/readium/readium-shared-js/issues/87

To test,

[2014-08-11 19:19] #95 closed, assigned to rkwright

[2014-08-13 14:09] rkwright opened #96 "Error in mlong division MathML test"
The MathML test in EPUB TestSuite 100 (MathML-027) featuring long division isn't quite right.  The horizontal lines are missing.  Also, the vertical spacing seems over-large.

![longdivision](https://cloud.githubusercontent.com/assets/3025864/3906493/70595fee-22f3-11e4-8f65-0a6c25baa8f0.png)

[2014-08-15 13:19] rkwright opened #97 "Provide functionality to be able to highlight the current location in a TOC"
From John Nowak:

I'd like to highlight the user's current location in a book when displaying its TOC. As far as I can tell, this means getting the current idref and CFI by calling 'ReadiumSDK.reader.bookmarkCurrentPage', and then -- somehow -- turning this into data I can use to identify the navigation element accessible via the TOC that's immediately prior to the user's current location.
Given t

[2014-08-18 15:45] #90 closed, assigned to jccr

[2014-08-26 17:51] rkwright opened #99 "SVG with image is cropped in half"
The file EPUB TestSuite 130, which is a series of RTL Japanese, Hebrew and Arabic, has a very simple cover page that has a <svg> element inside an h1 element.  The SVG only has a simple <img> element. When rendered in the latest Chrome Extension (2.15.0), the image is shifted to the left 50% and cropped.
This DOES NOT happen if the SVG is replaced by an HTML img element with the same image.

The t

[2014-08-26 18:35] #99 closed, assigned to ryanackley

[2014-08-27 10:19] Twibit opened #101 "getCurrentSelectionCfi() error when selection contains images."
Hello,

I'm trying to create annotations on selected content but when i want to get the CFI of a selection containing images, i get the following Uncaught SyntaxError.

```Uncaught SyntaxError: Expected "!/", "/", "[" or [0-9] but "," found.``` in /lib/epub_cfi.js [(1483)](https://github.com/readium/readium-shared-js/blob/master/lib/epub_cfi.js#L1483)

[2014-08-27 14:54] #79 closed, assigned to nobody

[2014-09-01 07:16] danielweck opened #102 "Implementation of Page Progression and Content Direction "decision" grid / matrix"
See:
https://docs.google.com/document/d/1ZQAi5clTZRErEbmgFzbWMuiyzAFu3pEk6zxa-5OS-Ok/edit

[2014-09-01 09:59] danielweck opened #103 "Audio background soundtrack does not support non-iBooks epub:type values (non-normative EPUB3 vocabulary extension)"
To test, see official EPUB sample:
https://code.google.com/p/epub-samples/downloads/detail?name=cc-shared-culture-20120130.epub
p60.xhtml

[2014-09-01 10:00] #103 closed, assigned to danielweck

[2014-09-01 14:36] danielweck opened #104 "Populate navigator.epubReadingSystem with Git hash info"
...so that a specially-crafted EPUB can extract the versioning info and display it within the rendering viewport (i.e. without the need for an application-specific UI dialog such as the "about" dialog of ReadiumJS). For a native Readium app launcher (including those custom ones implemented by vendors), this will allow users to copy/paste version information straight from the ebook, just in case ve

[2014-09-01 18:00] danielweck opened #105 "Previous/next pagination ("canGo_") API addition for convenience: get page numbers / total"
Code:
https://github.com/readium/readium-shared-js/blob/develop/js/models/current_pages_info.js

For example, see getPageNumbers/Count() in SDKLauncherOSX:
https://github.com/readium/SDKLauncher-OSX/blob/develop/LauncherOSX/LOXCurrentPagesInfo.mm#L115

...and client side use (UI display of "synthetic spread page number pair / total pages"):
https://github.com/readium/SDKLauncher-OSX/blob/develop/L

[2014-09-02 07:25] danielweck opened #106 "Arabic RTL blank pages navigation, when spine page-progression-direction is forced onto XHTML content"
This does not affect Chrome (extension or cloud reader), but I can reproduce in Safari.

We should also double-check that the fix works with vertical writing mode (Japanese). Suggested test ebooks:
Nav-Button-RTL (Ric's Arabic sample ebook with missing content direction and explicit page-progression-direction)
regime-anticancer-arabic-20130327 and kusamakura-japanese-vertical-writing-20121124 (fro

[2014-09-02 10:55] danielweck opened #107 "Regression (Chrome, etc.): Japanese RTL page progression direction"
Test EPUB:
https://code.google.com/p/epub-samples/downloads/detail?name=kusamakura-japanese-vertical-writing-20121124.epub

Also: Ric's tiny3-J.epub

(1) open ebook
(2) press left arrow (RTL page-progression-direction and vertical RTL writing mode, so that's "next page")
(3) expected: page turn, instead: chapter transition

Related issue:
https://github.com/readium/readium-shared-js/issues/106
(sa

[2014-09-02 13:33] danielweck opened #108 "Non-linear spine item: both left/right buttons are disabled, even if document has multiple pages"
Test EPUB: Ric's Nav-Button-RTL
Steps:
(1) navigate to non-linear spine item via the TOC
(2) note how both left/right page navigation buttons are disabled, even though the ancillary document actually has multiple pages

Culprit:
if(!spine.isValidLinearItem(xx)) return false;
in canGoNext/Previous():
https://github.com/readium/readium-shared-js/blob/develop/js/models/current_pages_info.js#L59

Rela

[2014-09-03 09:09] #107 closed, assigned to ryanackley

[2014-09-03 09:09] #106 closed, assigned to nobody

[2014-09-03 09:19] #108 closed, assigned to danielweck

[2014-09-04 17:12] rkwright opened #110 "Doesn't support non-ASCII characters in resource paths/names"
A-Klimashevsky posted this issue on readium-sdk.  I am closing that one as it is NOT specific to the SDK
He wrote:
I have a epub book with Russian names of files (e.g. assets/images/без названия.jpg). readium doesnt read this files from epub container.

[2014-09-05 18:24] ryanackley opened #111 "SVG images don't get resized properly"

[2014-09-05 18:29] #111 closed, assigned to ryanackley

[2014-09-08 12:20] ClementHard opened #112 "Bookmark for both left and right pages in SyntheticSpread"
Hello,

Is there a way to retrieve a bookmark for both left and right pages in SyntheticSpread ?

Thanks

[2014-09-09 16:19] #87 closed, assigned to jccr

[2014-09-09 16:24] danielweck opened #114 "Japanese RTL vertical writing mode, page selection based on rectangle visibility trailing instead of leading "edge" (CfiNavigationLogic)"
See:
https://github.com/readium/readium-shared-js/issues/87
https://github.com/readium/readium-shared-js/pull/113

 When an element (e.g. a run of text) spans across two (or more) consecutive "pages" (a "page" is effectively a CSS column, which ; in vertical writing mode ; always fills the entire iframe viewport, as there is no two-page synthetic spread), such element is considered "visible" based

[2014-09-09 18:19] rkwright opened #115 "Reflowable page in FXL document is not laid out properly when in two-up mode"
Chrome Extension: 2.15.2
If one loads SmokeTestFXL and navigates to Chapter 10 (CFI), the first two pages are fine, but the third page is placeholder titled "Intrapublication linking".  The following page is a longish reflowable page that tests spatial CFI.  Unfortunately, the viewer lays out the reflowable page to the right of the fixed page but it is a skinny little slice of a page.
This only oc

[2014-09-11 11:58] Twibit opened #116 "How to avoid bookmarking the same page twice / Check if the current page contains a given CFI ?"
Hello,

In order to avoid bookmarking the same page twice, i'd like to know if it is possible to check if a given CFI (from an existing bookmark) is visible on the currently displayed pages.
It should work even if the text's size changed or if the SyntheticSpread is toggled.

Thanks for your help

[2014-09-12 07:27] pettarin opened #117 "Add a LICENSE in the repo root dir"
Issue: deciphering which license applies to the code in the repo is not trivial. (Does the "3-clause/New BSD license" apply to the code in this repo as well as it does to that in readium-js ?)

Suggested Fix: Add a LICENSE file in the repo root directory, and maybe mention it in the README

Thanks.

[2014-09-15 16:29] danielweck opened #118 "Web browser window resize, "bookmark" location is saved+restored several times: actual reading position gets lost in the page spread"

[2014-09-17 14:43] Twibit opened #119 "Is there a way to apply the hover-* style to an annotation without clicking on it ?"
I would like to select an annotation from a list in my app and display it in the content with the hover-highlight style.

Is there a way to do it ?

[2014-09-18 12:25] Twibit opened #121 "openSpineItemElementCfi(idref, cfi) opens the page containing the beginning of the paragraph instead of the page showing the cfi."
To create annotation, I use ```ReadiumSDK.reader.getCurrentSelectionCfi()```.
To open the page containing the annotation I use ```ReadiumSDK.reader.openSpineItemElementCfi(idref, cfi)```.

When I select some text from a paragraphe that begin in the previous page and then call the following code,  it opens the page containing the begining of the paragraphe instead of the page containing the selecte

[2014-09-18 18:52] #118 closed, assigned to nobody

[2014-09-19 18:31] #53 closed, assigned to nobody

[2014-09-30 19:59] danielweck opened #123 "Update Rangy to latest require.js -enabled version, from new GitHub repository (moved from Google Code)"
Note: Rangy is used by the non-critical Media Overlays CFI / SMIL character ranges functionality (still experimental, not broadly adopted by audio book publishers). Low priority task.

Current codebase:
https://github.com/readium/readium-shared-js/tree/develop/lib/rangy

RequireJS wrapper in readium-shared-js:
https://github.com/readium/readium-shared-js/blob/develop/lib/rangy/rangy.js

RequireJS

[2014-10-01 14:02] danielweck opened #124 "API to pause/resume any ongoing audible / visual playback (video, Media Overlays)"
Example: Launcher-iOS device-sleep / app-background should trigger pause/resume behaviour, with simple one-liner Javascript API.

[2014-10-03 11:48] rkwright opened #125 "MathML styling fails in EPUB TestSuite tests with MathJax"
From Peter Krautzberger, 13 August 2014:
- 020-023 will work on Firefox and Safari but fail on MathJax. The reason is that to support stylesheets MathJax would have to excessively call getComputedStyle which is computationally heavy and not supported on all browsers we support (IE<9). Inline CSS would actually work with MathJax as would MathJax-specific CSS.

This is actually a place where Readium

[2014-10-06 08:23] false opened #126 "CONTENT_DOCUMENT_LOAD_START never called"
It seems the CONTENT_DOCUMENT_LOAD_START trigger event never gets called.

I tried registering it this way, in host_app_feedback.js :+1:

ReadiumSDK.reader.on(ReadiumSDK.Events.CONTENT_DOCUMENT_LOAD_START, this.onContentDidStartLoading, this);

The onContentDidStartLoading was never called.

[2014-10-14 16:07] danielweck opened #127 "CSS page-break-after / before / inside (avoid / always / etc.)."
Issue moved from readium-js-viewer:
https://github.com/readium/readium-js-viewer/issues/217

[2014-10-15 16:44] danielweck opened #128 "spine item rendition "spread-none" is only accounted for first item in the synthetic spread"
...resulting in the second item being part of the synthetic spread (on the right hand side), even though it explicitly states properties="rendition:spread-none"

See ReadiumSDK.Helpers.deduceSyntheticSpread() which only takes a single spine item parameter:

https://github.com/readium/readium-shared-js/blob/develop/js/helpers.js#L264

[2014-10-16 12:34] #104 closed, assigned to nobody

[2014-10-16 19:05] danielweck opened #130 "Allow concurrent display of mixed reflow (column-dynamic-pagination) + fixed (pre-paginated) documents within the same viewport"
Original issue:
https://github.com/readium/readium-shared-js/issues/115

Illustration of proposed view:
https://docs.google.com/drawings/d/10GlAlj3uEGdgYsf8qUTqIeVSSy2A_ip44aEaiiyB9bk

[2014-10-16 19:05] #115 closed, assigned to jccr

[2014-10-16 19:16] #128 closed, assigned to nobody

[2014-10-20 20:32] danielweck opened #133 "sdk.css needs updating to reflect Chrome app / cloud reader support for pan-zoom (overflow:auto)"

[2014-10-20 20:34] #133 closed, assigned to danielweck

[2014-10-20 22:12] danielweck opened #135 "prefixed CSS properties (jQuery auto, Modernizer?)"
Right now we use a prefix enum in a few places, e.g.:

[code]

[2014-10-23 12:32] #135 closed, assigned to nobody

[2014-10-24 17:07] #110 closed, assigned to ryanackley

[2014-10-28 16:20] #34 closed, assigned to nobody

[2014-10-31 21:02] ghost opened #138 "Large images are clipped when rendered in two-column mode"
As seen in the screenshot below, large images are clipped when rendered in two-column mode:

![screen shot 2014-10-31 at 4 56 56 pm](https://cloud.githubusercontent.com/assets/707289/4868518/d61e2428-6140-11e4-9fd8-41f576d7fd46.png)

The screenshot is from the Readium Chrome app, but I see the same thing when using readium-shared-js in my own application.

To fix this issue, images should be sized

[2014-11-02 18:42] #45 closed, assigned to nobody

[2014-11-04 17:00] danielweck opened #139 "Media Overlays audio bookmarking"
Unlike regular DOM-based bookmarking, this would preserve the currently-playing SMIL fragment ("par" element), but also the time offset within the associated audio clip.

[2014-11-04 20:56] chine opened #140 "Highlights not displaying over highlighted text"
We've found that highlights aren't being positioned on top of the content referred to by their CFI.

Upon investigation we can achieve the desired effect by adding  `"position" : "absolute"` to `setCSS()` of `EpubAnnotations.HighlightView` in `annotations_module.js`.
(https://github.com/readium/readium-shared-js/blob/master/lib/annotations_module.js#L1412)

Is there perhaps something we're not doi

[2014-11-05 18:35] #140 closed, assigned to jccr

[2014-11-13 14:15] danielweck opened #142 "fixed layout two-page spread, zoom calculation when different heights"
To be checked.

Code references:

https://github.com/readium/readium-shared-js/blob/develop/js/views/fixed_view.js#L424

[code]

https://github.com/readium/readium-shared-js/blob/develop/js/views/fixed_view.js#L320

[code]

[2014-11-23 07:34] danielweck opened #144 "Chrome/Opera/Chromium-only bug (not Safari WebKit): cover image "fit" overflows in next column"
EPUB:
https://readiumfoundation.box.com/s/eruhof2djmz3mmj1qg3a

[2014-11-25 17:48] jaketlarson opened #145 "Anchor links in Readium"
I'm having this issue in both Readium JS and the Chrome addon:

I have an anchor tag, for instance [a name="anchor"][/a] and a corresponding link [a href="#anchor"]click here[/a].

For some reason, this is not working in Readium, but it will work in iBooks. In the JS console I'm seeing:
Illegal pageIndex value:  -1 column count is  43

This tells me that there's either a glitch in the Readium java

[2014-11-25 18:00] #145 closed, assigned to nobody

[2015-01-05 15:23] Twibit opened #146 "CFI generation"
In my app, i have a search engine using precomputed CFI to highlight content.
In some case, our CFIs and Readium CFIs doesn't match.

Here is some example:

[code]

You can see in those examples that empty nodes are not always taken into account in Readium's CFIs.

In the second example Readium gives the following CFIs :
 - cfi("inside") =  /4/2[container]/4/2[anchor],/1:0,/1:6
 - cfi("after") = /

[2015-01-07 08:41] Twibit commented on #146
Here is some simple examples with theoretical and actual results.
I suspect that empty text nodes are ignored in the cfi generation.

-
[code]
We should have the following results :
**before** :  /2, /1:0, /1:6
**inside** : /2/2, /1:0, /1:6
**after** : /2, /3:0, /3:6

This specific example works with readium.

-
[code]
We should have results similar to the previous ones because the structure of th

[2015-01-07 10:29] danielweck commented on #146
Thank you @Twibit for taking the time to illustrate your point in detail.
This is clearly a bug, it is crucial that empty text nodes are "detected" by the CFI generator when parsing the DOM tree, i.e. implicit (potentially-empty) text node between each pair of sibling XML element, as well as before and after the first and last (respectively) child element.

[2015-01-07 10:35] danielweck commented on #146
May I suggest that this issue gets moved to the correct repository, and that relevant unit tests get added here:

https://github.com/readium/readium-cfi-js/blob/develop/spec/javascripts/models/cfi_generation_spec.js

[2015-01-07 10:38] danielweck commented on #146
Also, I suggest that @JCCR gets put in the loop as he has been working on a feature branch implementation to support further edge cases (I am not sure exactly how his work relates to this issue):

https://github.com/readium/readium-cfi-js/issues/17

[2015-01-07 16:57] dmitrym0 commented on #146
@danielweck is it possible to migrate the issue into readium/readium-cfi-js or does this have to be done manually?

@Twibit the first example you provide appears to function as designed:

[code]

- `<p>` is the first non leaf node, so it's position is 2.
- `before` is the first text node of `<p>`, so it's position  is 1, and it has 6 characters, so the range is correctly identified as 1:0-1:6.
- `

[2015-01-07 17:10] danielweck commented on #146
@dmitrym0 manual move :(   (just reference this discussion, perhaps copy/paste the essentials)

When you say "after is now the first text node, so it's assigned position 1", I think you are missing the empty text "chunk" between the `p` element and its first `a` child element (position should be 3, not 1):

http://www.idpf.org/epub/linking/cfi/epub-cfi.html#sec-epubcfi-processing

"
[XML] characte

[2015-01-07 17:19] dmitrym0 commented on #146
Ah thanks Daniel, so it is described in the spec. Definitely a bug.

[2015-01-07 17:25] dmitrym0 commented on #146
Created a new issue https://github.com/readium/readium-cfi-js/issues/23, closing this one.

[2015-01-07 17:25] #146 closed

[2015-01-12 17:51] Twibit opened #147 "Impossible to highlights two portions of text starting at the same offset"
I have an annotation system and a search engine using the annotation module to highlight contents.
So I want to be able to highlight some portion of text twice.

My problem is that if I highlight two CFI with the same start offset, i got an error.

For example :
Annotated text : /4/2/8,/1:4,/1:30
Search result   : /4/2/8,/1:4,/1:17

On the second call i got the following error :
"Selection start a

[2015-01-12 19:15] danielweck commented on #147
It sounds like the CFI "blacklist" is not taken into account when making a selection, if so, definitely a bug.

[2015-01-16 17:02] Twibit commented on #121
The problem is that the navigation logic doesn't use the cfi's range to find the best position.

[2015-01-16 17:16] Twibit opened #148 "Custom fonts are applied after the computation of getPageForPointOnElement leading to variable results"
I want to open a page (reflow) on a given element identified by a CFI. The page is using custom fonts.

If the element is at the bottom of the display and my custom font is bigger than the default one, there is a chance that the result of getPageForPointOnElement(e, x, y) vary if I request the opening from the same spine item (font already applied) or from a different one (custom font not yet appl

[2015-01-20 16:20] danielweck opened #149 ""back" feature to navigate backwards into a sequence of links (TOC heading, page number, hyperlink, etc.)"

[2015-01-20 16:34] danielweck commented on #26
The navigation concept of "escaping" the ancillary reading context (non-linear spine items) ; i.e. branching off-and-back into the primary reading flow ; was discussed recently with the accessibility folks that are going to contribute in the implementation of external descriptions (DIAGRAMMAR model). The "modal dialog" solution used by iBooks is practical because of the obvious "dismiss" semantics

[2015-01-20 16:38] danielweck opened #150 "DIAGRAMMAR model for accessible (image) external descriptions"
In addition to supporting the attributes longdesc, describedAt and describedBy, Readium would need to expose UI affordances to let the user configure/pick a specific content modality (e.g. simplified vs. tactile).

See:
http://diagramcenter.org/standards-and-practices/content-model.html

Related:
https://github.com/readium/readium-shared-js/issues/26#issuecomment-70684897

[2015-01-20 17:03] danielweck opened #151 "Modular codebase, UMD wrapper, RequireJS (?)"
TODO: shared Google doc to provide details on benefits, feasibility (possibility of Bootstrap removal,  conflicts with other JS libraries, cost of code dependency analysis, etc.)

Related:
https://github.com/readium/readium-shared-js/issues/61

[2015-01-20 17:05] danielweck commented on #61
Somewhat related: https://github.com/readium/readium-shared-js/issues/151

[2015-01-23 21:39] becka11y commented on #97
So here is a naive thought:
Don't we know the URI of the currently displayed "pages"? I see that the iframe src data is cached in a blob but we do know the original URI and could cache it.  Then it seems easier to match that value to the fragment identifiers contained in the TOC document.  Although I suspect that large items or references to other spine items within the currently displayed "pages"

[2015-01-26 11:46] mahag opened #152 "Changing/adding propagation value for spine it doesn't affect the pages order for arabic books."
![untitled](https://cloud.githubusercontent.com/assets/10612561/5899262/829f988a-a561-11e4-8122-4933d815429f.png)
As seen in image the part that starts with 1-... should be to the right and not the left for arabic. Adding or change propagation to spine doesnt help, it only changes next/previous buttons positions.
How can i acheive this?

[2015-01-26 20:37] danielweck commented on #97
Hi @becka11y you can use `spineItem.href` and resolve against the `package`'s base URI, for example:

https://github.com/readium/readium-shared-js/blob/develop/js/views/internal_links_support.js#L55

[code]

[2015-01-26 20:47] danielweck commented on #144
Related: https://github.com/readium/readium-shared-js/issues/138 and https://github.com/readium/readium-shared-js/issues/88

[2015-01-26 20:48] danielweck commented on #138
Related: https://github.com/readium/readium-shared-js/issues/88 and https://github.com/readium/readium-shared-js/issues/144

[2015-01-26 20:48] danielweck commented on #88
Related: https://github.com/readium/readium-shared-js/issues/144 and https://github.com/readium/readium-shared-js/issues/138

[2015-01-27 12:50] danielweck commented on #151
Brainstorming document:
https://docs.google.com/document/d/10UNfT8a41luJ78jOQSAO8GpkPlJEqmCB1mbu6hoNasU
(feel free to edit / comment)

[2015-01-28 23:21] danielweck commented on #148
I thought that navigation actions were only actuated *after* the "content loaded" event (which the Readium rendering engine waits for before displaying / toggling the visibility of the iframe). Must double-check. However, I remember seeing that CSS font-face and the effective application of fonts was sometimes delayed (easy to see with some books, the text visually changes, *after* the iframe cont

[2015-01-29 18:31] Kathybluefire commented on #138
Here's another take on this error. This is a jpg image, not a tint background, and in reflowable layout it breaks across two pages.

Windows 8 Chrome Extension 2.16

![breaking jpg](https://cloud.githubusercontent.com/assets/4503010/5963507/e19ccdca-a7a1-11e4-9d2e-a2a7edb71984.jpg)

[2015-01-29 18:34] Kathybluefire opened #153 "Windows 8 Chrome Extension 2.16 Images breaking across columns in reflow"
The cover is a jpg (not a tint) and when opened it does not resize into the content window, it splits across two columns. The User Setting for Layout is Auto.

![breaking jpg](https://cloud.githubusercontent.com/assets/4503010/5963583/6dfa4432-a7a2-11e4-9203-e3ab75d425d5.jpg)

[2015-02-05 10:38] danielweck opened #154 "Annotation / highlight depends on WebKit Matrix (not cross-platform)"
https://github.com/readium/readium-shared-js/blob/develop/lib/annotations_module.js#L576

[code]

[2015-02-06 16:47] danielweck commented on #101
Moved:
https://github.com/readium/readium-cfi-js/issues/31

[2015-02-06 16:49] danielweck commented on #121
I believe @JCCR is working on that (see feature branch below), am I right?
https://github.com/readium/readium-shared-js/tree/feature/improve_cfi_accuracy

[2015-02-06 16:52] danielweck commented on #116
@JCCR does this feature branch apply to this bug?
https://github.com/readium/readium-shared-js/tree/feature/is_element_cfi_visible

[2015-02-06 16:54] danielweck commented on #121
Is this issue a duplicate of this older one?
https://github.com/readium/readium-shared-js/issues/35

[2015-02-09 19:52] danielweck commented on #54
Closing this one. Duplicate of: https://github.com/readium/readium-js-viewer/issues/265#issuecomment-73018762

[2015-02-09 19:52] #54 closed

[2015-02-10 18:02] JCCR opened #155 "SpineItem object in function signature for some Reader API functions"
Example of issue in the code:
https://github.com/readium/readium-shared-js/blob/master/js/views/reader_view.js#L835

It is better for consumers of the Reader API (a public interface) to pass spineItem id references (string) when calling methods instead of passing SpineItem object (readium specific) references

[2015-02-10 18:42] danielweck commented on #155
Am I right to assume that your proposed change would not impact the equivalent function signatures in other view classes? (`getElementByCfi`, `getElementById`, `getElement`)
e.g.:

https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L816

https://github.com/readium/readium-shared-js/blob/develop/js/views/fixed_view.js#L605

https://github.com/readium/readium-share

[2015-02-12 12:53] danielweck opened #156 "jQuery needs updating"
See:
http://blog.jquery.com/2014/12/18/jquery-1-11-2-and-2-1-3-released-safari-fail-safe-edition/
(currently `1.11.0`)

[2015-02-12 13:06] danielweck commented on #156
readium-shared-js: https://github.com/readium/readium-shared-js/commit/6c502f46ebcfc2b98ca44f1eb6df76f739948615

readium-js: https://github.com/readium/readium-js/commit/4242280394c045dd5d460a36041022b985c897b0

(now checking native apps' `reader.html`)

[2015-02-12 13:11] danielweck commented on #156
Native launchers
OSX:
https://github.com/readium/SDKLauncher-OSX/commit/b7c09028cdb442623c76b81f2ea6a56703f1db45

iOS:
https://github.com/readium/SDKLauncher-iOS/commit/26bfd0c2ccfbaf9445509ab80908baf251729077

Android:
https://github.com/readium/SDKLauncher-Android/commit/f4a27d1b1f82eff8dda99d7cec8c1a99f2c445b7

Windows:
https://github.com/readium/SDKLauncher-Windows/commit/9dfbc36e8129df41da759

[2015-02-12 13:24] danielweck commented on #156
And finally, `readium-js-viewer`:
https://github.com/readium/readium-js-viewer/commit/a93304f093b427320284f27dcd552ecc823adacc

(yep, `lib/Readium.js` aggregates the jQuery lib which means that there is some redundancy in the viewer app ... this should be fixed once Readium's build process is requireJS-enabled across the board, and perhaps even without the intermediary lib/Readium.js)

[2015-02-12 13:24] #156 closed

[2015-02-17 15:50] danielweck opened #157 "reading location / bookmark contains HTML element reference + in-page visual percentage (instead of character offset)"
The reading location "bookmark" that Readium saves contains 2D coordinates attached to a given HTML element, which is a broken design feature given that the visual consistency of markup in reflowable documents cannot be guaranteed from one reading session to the next (custom font size, line spacing, etc.).

Furthermore, this is an abuse of the intended feature:
http://www.idpf.org/epub/linking/cfi

[2015-02-17 22:11] danielweck commented on #121
I think this is the same problem: https://github.com/readium/readium-shared-js/issues/157
We discussed this bug on today's conference call. Juan (see feature branch mentioned above) and I will talk more about the ill-designed `/4/2/6@0,y` "bookmark" CFI (save + restore reading location based on visual 2D coordinates in the reflowable document)

[2015-03-04 10:41] Twibit commented on #147
Adding the following code [here](https://github.com/readium/readium-shared-js/blob/develop/lib/annotations_module.js#L851) resolve my problem :
[code]

[2015-03-04 12:19] danielweck commented on #147
@JCCR would it make sense to migrate this "selection-to-cfi" code from annotation_module to the CFI library, as a common utility? (whatever helps harmonizing the blacklisting API)

[2015-03-04 13:27] jansc commented on #154
We use [CSSMatrix](https://github.com/jonbrennecke/CSSMatrix) to make this work in Firefox/IE. This library could be included as a third-party library in readium-shared-js, but this seems like overkill to me.

Even though there has been some [discussion about implementing this feature in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=717722) recently, this does not seem to happen in the nea

[2015-03-05 18:02] danielweck commented on #154
Thanks @jansc good idea about using a fallback from `WebKitCSSMatrix` to regexp-parsing of the computed transform style.

However, you have reminded me that the `html` root element's transform is not always representative of the actual scale of the EPUB Content Document, notably because of the "div scaler":

https://github.com/readium/readium-shared-js/blob/develop/js/views/one_page_view.js#L565

[2015-03-05 18:05] danielweck opened #161 "Annotation / highlight scale based on root HTML element, not "scaler" div"
https://github.com/readium/readium-shared-js/blob/develop/lib/annotations_module.js#L576
[code]

Related issue: https://github.com/readium/readium-shared-js/issues/154

[2015-03-05 18:07] danielweck commented on #154
Regarding my previous comment: I filed a separate issue
https://github.com/readium/readium-shared-js/issues/161

[2015-03-06 20:30] danielweck opened #162 "Media Overlays playback does not continue when turning pages (Windows, IE cloud reader)"
Originally posted here: https://github.com/readium/readium-js-viewer/issues/295
by @nbeach

"
When listening to any epub with audio in IE11 if you manually change the page the audio does not resume and the loading spinner does not disappear. The JS consoles show "SCRIPT70: Permission Denied" errors.
"

[2015-03-10 12:38] einarstubhaug opened #164 "Clean up event listeners in reader_view.js"
I've come across an issue with a single-page javascript application.

We instantiate a ReaderView. When the user leaves this view, we remove the Readium iFrame from DOM alltogether (later, if the user wants to go back, we populate it from scratch).

The issue: If we have left the view and removed the iframe, and we resize the browser window , we get an error message from Readium. We managed to tra

[2015-03-10 14:05] danielweck opened #165 "Media Overlays playback touch / click event not triggered on Chrome-Windows8 (because of dual mouse-trackpad pointing device + touch display)"
`ontouchstart` currently takes precedence, which disables support for mouse events:
https://github.com/readium/readium-shared-js/blob/develop/js/views/media_overlay_data_injector.js#L53

[2015-03-10 14:06] danielweck commented on #165
PS: works fine in IE, because `touchstart` is not supported there (only PointerEvents)

[2015-03-10 14:15] danielweck commented on #165
Fixed here: https://github.com/readium/readium-shared-js/commit/f2a32b1fa80d211c76fcbb91679138a7cd1ad494

[2015-03-10 14:15] #165 closed

[2015-03-10 16:04] danielweck commented on #164
Obviously, the catch-all `$window.off()` a a bit brutal so I wouldn't recommend it :)
Take a look at `EpubReader.unloadReaderUI()`:
https://github.com/readium/readium-js-viewer/blob/develop/lib/EpubReader.js#L860
[code]

[2015-03-11 14:07] larsvoigt opened #166 "annotations_module.js addHighlight() ReferenceError: WebKitCSSMatrix is not defined"
If I call the ```addHighlight()``` function in Browsers Firefox and IE,
I get a  ```ReferenceError: WebKitCSSMatrix is not defined```.

https://github.com/readium/readium-shared-js/blob/develop/lib/annotations_module.js#L579

[2015-03-11 16:52] danielweck commented on #154
Also raised by @larsvoigt
https://github.com/readium/readium-shared-js/issues/166

[2015-03-11 16:52] danielweck commented on #166
Duplicate: https://github.com/readium/readium-shared-js/issues/154
(thanks @larsvoigt ;) )

[2015-03-11 16:52] #166 closed

[2015-03-12 08:09] larsvoigt commented on #166
Oh yes. Thanks @danielweck.

[2015-03-12 10:20] fredskij opened #167 "Text selection via double click in Firefox"
If selection is done via double-click, the surrounding tag is sometimes included in the selection (most notable in headers), so that startNode and endNode .nodeType is 1 instead of 3 (TEXT_NODE). This causes the test in generateRangeCFI to fail, resulting in a 'Selection start and end must be text nodes' error.

This seems to be a Firefox-only problem.

[2015-03-12 12:41] danielweck commented on #167
I assume you are referring to:
https://github.com/readium/readium-shared-js/blob/develop/lib/annotations_module.js#L844
[code]

...in which case this method should definitely be updated to automatically adjust the selection range, or perhaps even to let the underlying CFI library handle the ELEMENT vs. TEXT_NODE start/end points.

Note that the build of the CFI library was updated recently by Juan

[2015-03-16 08:13] jansc commented on #164
I suggest that readium-shared-js and readium-js should provide its own unload function, e.g.

[code]
and possibly
[code]

That way, readium-js-viewer does not have to know about the internals in readium-shared-js. We could contribute pull-requests if you agree, @danielweck.

[2015-03-16 12:55] jansc commented on #167
I've been digging a bit deeper into the code in of the highlight module.
The update of the CFI library does not seem to help in this situation. One possibility would be to extend the CFI library to create a CFI range based on an element, e.g. as a special case in generateCharOffsetRangeComponent() (https://github.com/readium/readium-cfi-js/blob/develop/src/models/cfi_generator.js#L7).

But I'm try

[2015-03-16 17:01] danielweck opened #168 "Media overlays: remove dependency on Annotations Module (CFI character ranges highlighting)"
TODO in feature/plugins
https://github.com/readium/readium-shared-js/pull/163

[2015-03-16 19:14] danielweck commented on #167
Thanks for digging into this @jansc !
Today, @JCCR explained that the underlying CFI library should be capable of handling these DOM ranges, but that the higher-level API in "annotation module" imposes this somehow artificial limitation on text nodes (old legacy code that has not been updated for some time, due to lack of use).

As for Rangy, there was a debate on this issue tracker about the meri

[2015-03-16 19:23] danielweck commented on #164
This sounds great @jansc
In fact today we have been discussing the implementation proposal to make the three ReadiumJS repositories ; i.e. individual "projects" ; more modular and more flexible (RequireJS + plugins framework, see https://github.com/readium/readium-shared-js/pull/163 ), and it makes a lot of sense to expose a `setup` + `teardown` workflow for each item.

[2015-03-17 07:51] jansc commented on #164
Thanks for the info, @danielweck. It sounds like there is no use implementing this in the develop branch with the new feature branch right around the corner. Did you discuss when you plan to merge the plugins branch into develop?

[2015-03-17 09:23] danielweck commented on #164
No firm ETA but we are working hard on it, as it is a high priority development task right now. One obvious prerequisite for the develop-merge is to make sure that Readium native application launchers are updated and tested with the new RequireJS architecture. There's a WIP feature/plugins branch in SDKLauncher-OSX which we use as a test bed.

[2015-03-17 09:40] jansc commented on #164
I guess I won't be any help regarding the SDK, but drop me a message if there's anything I can assist with in JavaScript-land.

[2015-03-19 10:09] danielweck commented on #151
Update: heavy development ongoing in https://github.com/readium/readium-shared-js/tree/feature/plugins and https://github.com/readium/readium-shared-js/tree/feature/pluginsX (the latter will be merged back into the former, once the codebase is stable across all repositories ... currently breaks readium-js-viewer but works with native Readium app launchers)

[2015-03-24 16:10] danielweck commented on #168
Addressed in plugin branch

[2015-03-29 10:49] danielweck opened #171 "Support for EPUB3 switch is incomplete"
Issue originally raised here (MathML fallback):
https://github.com/readium/readium-js-viewer/issues/306

Partial implementation `ReadiumSDK.Models.Switches.apply`:
https://github.com/readium/readium-shared-js/blob/develop/js/models/switches.js#L28

The old Chrome extension used to "apply switches" in `iframeLoadCallback`:
https://github.com/readium/readium-chrome-extension/blob/master/scripts/view

[2015-03-29 15:31] danielweck opened #172 "duplicate PAGINATION_CHANGED event, updatePagination() => onPaginationChanged() (view settings / viewport resize)"
Issue raised here: https://github.com/readium/SDKLauncher-iOS/issues/53

https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L667

https://github.com/readium/readium-shared-js/blob/develop/js/views/reader_view.js#L729

[code]

[2015-04-13 18:18] JCCR commented on #148
I see this happen somewhat frequently with the Accessible EPUB sample.

[2015-04-14 07:51] danielweck opened #177 "needsFixedLayoutScalerWorkAround ReaderView setting cannot be used with zoom function > 100% (clipped viewport)"
Currently, only OSX uses the `needsFixedLayoutScalerWorkAround` workaround (to fix a WebView-specific rendering / clipping bug), see:
https://github.com/readium/SDKLauncher-OSX/issues/21#issuecomment-60068155

Code references:
https://github.com/readium/SDKLauncher-OSX/commit/e9092698a7eaa728325a4d83f9c24b8d7f1ec7be#diff-14a5cfdb45121ceecfd23a430ab5652cL58

https://github.com/readium/readium-share

[2015-04-14 07:56] danielweck commented on #177
Seems fixed here:
https://github.com/readium/readium-shared-js/commit/ac77726c26cd49607a484dc77629dddb238277fc
Needs testing with OSX WebView.

[2015-04-14 16:04] danielweck commented on #177
I forgot to mention, the above fix is committed to a "feature" branch: https://github.com/readium/readium-shared-js/compare/feature/177-scalerDivZoomedSize

[2015-04-14 17:06] danielweck commented on #177
Follow-up: also test scroll view! See https://github.com/readium/readium-js-viewer/issues/313#issuecomment-92982632

[2015-04-20 23:26] JCCR commented on #101
Annotations_module needs to be tested with the newest CFI library.

[2015-05-05 08:44] danielweck opened #181 "Reflowable document viewport gets clipped when enlarged (CSS columns)"
Originally posted here:
http://idpf.org/forum/topic-2430

By http://idpf.org/users/elania
Elania (Alex)

"
When I have a book open and the new window is fullscreen, a little bit of the left-hand side text is cut off. It's still technically readable, but it makes it much more difficult and is very annoying.

It doesn't do this if I make the screen small enough, but if I have to have it in a separat

[2015-05-05 18:36] JCCR opened #182 "Inconsistent pagination state with multiple reader views"
When using multiple instances of Reader in one web page, one of the views ends up with different font sizes (see screenshot below). The problem occurs because updateHtmlFontSize (https://github.com/readium/readium-shared-js/blob/develop/js/helpers.js#L99) only applies to one of the views.
There are also other pagination inconsistencies such as incorrect `columnCount` values being generated for the

[2015-05-06 11:25] danielweck commented on #182
As use-cases for running several Readium-Reader instances in parallel, you mentioned "EPUB3 Multiple Renditions" (which may optionally be used to render documents concurrently) and "prefetching" (which ; in addition to improving perceived load performance ; can be used to implement 2-sided page-curl effects on native platforms).
I would also add (if I understand correctly) the necessity to impleme

[2015-05-06 15:46] rkwright commented on #181
This is also reproducible with the current release (0.18 in master) on OSX with SmokeTestFXL.epub

[2015-05-06 15:47] danielweck commented on #181
@rkwright on a fixed-layout (pre-paginated) spine item, or a reflowable document?

[2015-05-06 15:59] rkwright commented on #181
I have been able to reproduce only in fixed layout.  Reflowable (in my limited testing) seems fine.

[2015-05-10 09:45] danielweck commented on #157
Somewhat-related comment about API inconsistency:
https://github.com/readium/readium-js-viewer/issues/333

Note that @JCCR has been working on several fixes via dedicated feature branches (addressing specific pin-pointed issues), also see https://github.com/readium/readium-cfi-js/issues

[2015-05-13 07:42] danielweck commented on #177
Fixed by Pull Request: https://github.com/readium/readium-shared-js/pull/183

[2015-05-13 07:42] #177 closed

[2015-05-21 16:47] danielweck commented on #161
Related to
https://github.com/readium/readium-js-viewer/issues/313#issuecomment-101588573
(`needsFixedLayoutScalerWorkAround `)

[2015-05-21 17:35] danielweck commented on #138
Duplicate: https://github.com/readium/readium-shared-js/issues/153

[2015-05-21 17:36] danielweck commented on #153
Duplicate: https://github.com/readium/readium-shared-js/issues/138

[2015-05-21 17:36] #153 closed

[2015-05-22 10:27] danielweck opened #184 "document.styleSheets[x].cssRules can be null in helpers.js"
https://github.com/readium/readium-shared-js/blob/master/js/helpers.js#L276
[code]

https://github.com/readium/readium-shared-js/blob/master/js/helpers.js#L291
[code]

[2015-05-22 10:28] danielweck commented on #184
Fixed by: https://github.com/readium/readium-shared-js/commit/5ae247be68b55aa551d5715e3f6a31d4536c4bc2

[2015-05-22 10:28] #184 closed

[2015-06-01 15:01] danielweck opened #186 "Media Overlays user-defined highlighting style overrides should only apply to reflowable documents, not fixed-layout / pre-paginated EPUBs"
Readium enforces user styles such as font-size and line-height only to reflowable documents. Publisher-provided styling in fixed-layout EPUBs should not be interfered with.

[2015-06-07 13:18] Stevo5o commented on #181
I have the same issue, my workaround is to change layout to document. Unfortunately doing this only displays a single page, however it least the page is not cropped.

[2015-06-08 07:49] johanpoirier commented on #181
Some people in my company have the same issue but I haven't be able to observe it on my own laptop (MacBook Air).

[2015-06-09 15:25] johanpoirier commented on #181
I located the bug.

The column width is computed with a `Math.round()`:
 - https://github.com/readium/readium-shared-js/blob/master/js/views/reflowable_view.js#L623
 - https://github.com/readium/readium-shared-js/blob/master/js/views/reflowable_view.js#L644

And when we compute the page offset, we use the rounded value of the column width:
https://github.com/readium/readium-shared-js/blob/master/j

[2015-06-11 10:13] larsvoigt opened #189 "addHighlight() Cannot read property 'opener' of undefined"
Hello, I'm lost in space.

The scenario:
For the first time, I try to highlight a cfi reference  in an unloaded spine item
[code]
I get following exception:
``` Cannot read property 'opener' of undefined ```

If I do the same on a loaded spine item all works fine.
Any ideas?

[2015-06-11 12:50] danielweck commented on #189
"unloaded spine item"?
Depending on the "iframe loader" strategy, the DOM may be garbage-collected (e.g. cloud reader => BlobURI cache is emptied to release references before opening a new spine item)

[2015-06-11 12:59] danielweck commented on #181
To those of you following this discussion thread, @johanpoirier kindly looked into this rounding issue, and has run some tests: https://github.com/readium/readium-shared-js/pull/188#issuecomment-110725956

[2015-06-11 14:18] larsvoigt commented on #189
E.g. current ```spineItem=3```,
the cfi reference that shall be highlighted is pointing on ```spineItem=5```.
```openSpineItemElementCfi(...)``` is working well. The right ```spineItem=5``` will be open.
Only  ```addHighlight(...)``` raise the mentioned exception.

If I have a other cfi reference that also pointing the opened ```spineItem=5```  and
I do call   ```addHighlight(...)``` with this cfi

[2015-06-11 22:03] danielweck commented on #189
Are you calling `addHighlight()` from a "ready" event callback, such as `CONTENT_DOCUMENT_LOADED`?

[2015-06-12 11:41] larsvoigt commented on #189
Thank you @danielweck. You are right! That was the reason.
I was calling ```addHighlight()``` directly after ```openSpineItemElementCfi(...)``` and
don`t wait until the document was loaded.

[2015-06-12 11:41] #189 closed

[2015-06-12 15:09] dmitrym0 commented on #189
Typically you have to wait for the whole document to load. If you do `openSpineItem..` and then immediately `addHighlight` you'll end up in a state where the document hasn't been fully loaded yet. That's most likely the reason your highlight is failing.

[2015-06-16 06:44] acepub commented on #127
It would be really helpful if Readium can support *page-break-inside: avoid* property. The tables and images splitting across the page don't look professional.

[2015-06-24 21:05] rkwright opened #191 "Layout of multiple iFrames is not correct"
The layout of a pre-paginated EPUB book that contains a set of widgets that constitute a quiz is not correct.  The quiz consists of 3 panels that are the questions and one that is the results of the quiz.  If the window is shrunk down, instead of shrinking the contents, the panels become overlapped.  It appears (from a quick look at the sources) that each quiz is a separate widget, hence iFrame.

[2015-07-06 17:43] matwood commented on #172
I was about to look into fixing this issue and see it is already in progress. Any idea when the fix will get merged into develop?

[2015-07-07 09:54] danielweck commented on #172
Hello @matwood
see the ongoing discussion in the pull request: https://github.com/readium/readium-shared-js/pull/174
This is on the todo list, but there is no ETA I'm afraid (we will revisit this issu at the next dev conference call)

[2015-07-07 15:40] matwood commented on #172
@danielweck When is the conference call? Are others free to join and listen?

I'm free to bug fix, test, and do general code cleanup as needed.

[2015-07-07 15:46] rkwright commented on #172
This week's meeting is on Tuesday, 7 July at 1600h UTC

http://www.timeanddate.com/worldclock/fixedtime.html?msg=ReadiumJS+Engineering+Meeting&iso=20150707T16&p1=%3A&ah=1

Telecon:
This meeting is using GoToMeeting

https://global.gotomeeting.com/meeting/join/334772733

Meeting ID: 334-772-733

[2015-07-07 18:23] matwood commented on #172
@rkwright I forgot to ask on this weeks call if the meeting is the same time and meeting ID every week or if there was a mailing list or some other way to keep up to date.

[2015-07-07 18:45] JCCR commented on #172
@matwood
It's the same ID/date every week. We have meetings for  JS on Tuesday. SDK/native on Wednesday and a bug triage/other topics on Thursday, all held at the same time of day

[2015-07-07 20:48] rkwright opened #193 "In some spine items, the last page of a chapter is skipped"
A company building a viewer for iOS using their own back-end and shared-js with their own UI has discovered that in some spine items, the last partial page of the spine item is skipped. Apparently, readium thinks the chapter is one page less than it really is (and would be laid out).
## Turns out that others have seen this sporadically.  Hard to reproduce.

From Brian Young:
Thanks again for your

[2015-07-07 20:54] rkwright commented on #172
Yes, see link here:
http://readium.github.io/meetings.html
Also, strongly urge you to join readium-dev mailing list.  Just send me an email (rkwright@geofx.com) or subscribe here:
https://groups.google.com/forum/?fromgroups#!forum/readium-dev

[2015-07-08 15:38] dmitrym0 commented on #193
We've seen this before, specifically in #182. Looks like the pagination isn't finished when the layout info is generated. @JCCR may have more info.

[2015-07-11 07:43] danielweck commented on #26
Note that @mohit-agarwal has started working on this.

[2015-07-11 07:43] danielweck commented on #150
Note that @mohit-agarwal has started working on this.

[2015-07-11 07:44] danielweck commented on #181
More screenshots from @thiagoeec here: https://github.com/readium/readium-js-viewer/issues/344

[2015-07-11 09:58] danielweck commented on #26
Google shared doc: https://docs.google.com/document/d/1XY4SL0hwcr4b6XvCw8yf9tKQMnDXDnjKs_MDEzPKTHc/

Related issue (history navigation): https://github.com/readium/readium-js-viewer/issues/127

[2015-07-11 10:36] danielweck commented on #151
Addressed in latest AMD-RequireJS refactoring.

[2015-07-11 10:36] #151 closed

[2015-07-11 10:38] danielweck commented on #149
Related issue:
https://github.com/readium/readium-shared-js/issues/26
(support for non-linear spine item documents, history navigation feature overlap)

[2015-07-11 10:39] #126 closed

[2015-07-11 10:41] danielweck commented on #112
Related issue: https://github.com/readium/readium-shared-js/issues/116

[2015-07-11 10:41] danielweck commented on #116
Related issue: https://github.com/readium/readium-shared-js/issues/112

[2015-07-11 10:45] danielweck commented on #119
I suggest you tweak the CSS to your liking, and your custom Javascript code can inject additional class(es) in existing annotations (i.e. `.highlight` class):

https://github.com/readium/readium-js-viewer/blob/develop/src/css/annotations.css

[2015-07-11 10:45] #119 closed

[2015-07-11 10:46] danielweck commented on #117
That was fixed a while back.
https://github.com/readium/readium-js-viewer/blob/develop/license.txt
https://github.com/readium/readium-js-viewer/blob/develop/README.md#license

[2015-07-11 10:46] #117 closed

[2015-07-11 10:52] danielweck commented on #81
Note that `epub.js` fetches the MathJax lib from a CDN:
https://github.com/futurepress/epub.js/blob/master/hooks/default/mathml.js#L20
[code]

[2015-07-21 16:24] jdempcy opened #196 "Highlighting poor performance with 10+ highlights"
Adding a single highlight in the SDKLauncher-iOS app in the simulator on my Macbook Pro takes 80ms.

Adding that same highlight in a physical iPad2 device can take 300ms or longer.

I've found that much of the processing time comes from calls to getClientRects(), the method for generating rectangles for a given range.

Range.getClientRects()
https://developer.mozilla.org/en-US/docs/Web/API/Range/g

[2015-07-28 16:25] bpyoung commented on #193
Hey @rkwright, @danielweck and @JCCR ,

Since the last time we spoke on this subject, I loaded one of the problematic books in the iOS sample project and was able to reproduce the issue. Let me know if you want to dig into it on your own and I'll send you an example ePub.

Thanks
Brian

[2015-07-28 17:07] JCCR commented on #193
FontLoader.js comes from this project (it does most of the "magic"): https://github.com/smnh/FontLoader

Unfortunately I couldn't use it as-is. It had to be modified to support our use of a different iframe document context.

@rkwright It appears to be MIT licensed, so looks like we are good on the licensing aspect.

In order for us to better track this, we can either do what @danielweck does, whi

[2015-07-28 17:29] rkwright commented on #193
@JCCR  Sounds reasonable, but let's figure out the solution to the missing-page bug first.  Then revisit the issue with the licensed third-party library.

[2015-07-29 09:48] danielweck commented on #193
@JCCR Why not fork the repo AND submit a PR? :) (as opposed to OR)
The `npm run prepare` pre-build script checks for updated upstream code for each forked library dependency, which helps monitoring PR merges, release updates, etc.

@bpyoung Thank you very much for the follow-up / tests. Could you please share the EPUB? (privately if necessary)

[2015-07-31 09:29] Twibit opened #197 "Is Readium going to support Scriptable Component ?"
The IDPF is currently working on the specification of [Scriptable Components](http://www.idpf.org/epub/sc/pkg/).
Is Readium planning to support those components ? Do you have an idea on when this should be available ?

[2015-07-31 18:42] rkwright commented on #197
Yes, we are.  I (Ric Wright) am a member of that working group.  I have been in fact creating some sample widgets.  The code is here:
https://github.com/IDPF/scriptable-components/tree/feature/logger-widget

These widgets work in the Chrome Extension, OSX, iOS and Android, though the behaviour in iOS is a bit funky. See issue here: https://github.com/readium/SDKLauncher-iOS/issues/60

Note that I

[2015-08-03 18:50] matwood commented on #157
Is there a branch where the text CFIs have been implemented? I have some internal code where we bolted on text CFIs, but I would like to either adapt and add it to Readium's `cfi_navigation_logic.js` or use what is already in process of being implemented.

Changing to text based CFIs will be a breaking change, but spatial CFIs are already broken in most cases.

[2015-08-03 19:45] JCCR commented on #157
I have a branch: `feature/improve_cfi_accuracy`

It's an attempt to get text CFIs. You could build off of that, but the
branch is stale and there's some messy code with "outdated" techniques. We
have come up with better methods of accomplishing text CFIs, so when we got
the go ahead to contribute that I was going to start again new branch.

Therefore I would think it would be better to bring your

[2015-08-03 22:16] JCCR commented on #157
Sorry, to clarify by "we" I meant the company I work for (Evident Point)
and by "got the go ahead" I meant to say that we haven't yet but if we do
then it would start on a new branch.

On Mon, Aug 3, 2015, 12:45 PM Juan Corona <juan.carlos.corona.r@gmail.com>
wrote:

[2015-08-04 12:43] matwood commented on #157
Sounds good. Is the thought to replace the spatial offset code with text offsets or add to what is there? Internally, we (BiblioLabs) have not had a need for anything beyond the text offset CFIs, but as I bring our code in I want to stay consistent with the overall Readium architecture.

[2015-08-04 19:20] JCCR opened #199 "Extra blank pages appear in some spine items"
This issue could be related to #193

The total number of pages calculated by the pagination/layout info might be incorrect due to elements that reflow the layout after initial pagination (such as deferred loading of resources such as web fonts)

This issue is more apparent in WebKit than Blink.

[2015-08-05 18:53] JCCR commented on #193
@danielweck Looks like I already did this back in april: https://github.com/smnh/FontLoader/pull/8

Silly of me to forget :)

[2015-08-05 19:54] JCCR commented on #193
This is neat:
http://caniuse.com/#feat=font-loading

Looks like its finally in chrome!

[2015-08-05 20:06] rkwright commented on #193
Yes, but there is a lot of red on that page as well.  Like in iOS/OSX

[2015-08-05 21:23] JCCR commented on #193
@rkwright
Yea that is correct. Webkit's implementation is still a WIP.

I'm going to use this if available and use the other method as a fallback.

@danielweck
I just found out that my PR code doesn't work at all because of CORS...
My method relies on .cssRules being available:
http://stackoverflow.com/questions/3211536/accessing-cross-domain-style-sheet-with-cssrules

[2015-08-05 21:29] JCCR commented on #193
@danielweck
Helpers.triggerLayout also breaks because of this.

[2015-08-06 11:36] danielweck commented on #193
Thanks @JCCR about the `.cssRules` issue! Would `XmlHTTPRequest.responseText` + injection in `style` tag work, instead of CSSOM? (or are there other external references that need to be resolved relatively to the base CSS? ... I haven't looked at the details of the FontLoader trick)

[2015-08-06 16:13] rkwright commented on #197
Closing as answered.

@Twibit  : Let me know if you need more info or wish to contribute.

[2015-08-06 16:13] #197 closed

[2015-08-06 21:07] JCCR commented on #37
I still notice this issue in the latest `develop`:

It appears the left side gets cut off now:

![screen shot 2015-08-06 at 2 04 56 pm](https://cloud.githubusercontent.com/assets/5132652/9123406/2c011178-3c44-11e5-8e4d-59dd04f1c887.png)

This only happens if the viewport has an odd numbered width:

For example in my screenshot I'm using 1281x800
If I use 1280x800 or 1282x800 the issue doesn't appe

[2015-08-06 21:09] JCCR commented on #37
One solution would be to always force the width we set to be even numbered.

[2015-08-06 21:19] JCCR commented on #37
This bug appears in pretty much any browser. I've seen it in iOS, OSX, Firefox, Chrome, Safari.

[2015-08-06 21:28] JCCR commented on #193
@danielweck
That would work too but I didn't want to head in that direction, there's already some stuff that we do with style tags such as preprocessing and mangling the stylesheet content for obfuscated fonts.

One thing that CSSOM won't help us with is if the CSS files include other CSS stylesheets via the @import rule.
I'm not sure how that would work if we ajax request and inject those particu

[2015-08-06 21:40] JCCR commented on #193
@danielweck
Here's how the font loading stuff works:

**If [CSS Font Loading](https://drafts.csswg.org/css-font-loading/) is not implemented:**
- We need to get a list of all external fonts that a document uses:
This is done by looking at the parsed stylesheets in the DOM. All the cssRules for FontFace declarations are found, and the font family names are extracted from that to build the list.
- O

[2015-08-06 22:22] JCCR commented on #193
@danielweck
Ok I don't need to worry about the `@import` rules with my current approach because the document.styleSheets list I'm using contains an absolute href for each linked stylesheet, no matter how it was included.

[2015-08-10 07:05] vamsundar commented on #181
Still we are facing this issue, is there any update on this issue...

![untitled](https://cloud.githubusercontent.com/assets/5556853/9160892/3b66b1f2-3f5c-11e5-8d95-de6539b3e93f.png)

[2015-08-10 15:09] JCCR commented on #181
Oh I re-opened this one, and wrote comments:
https://github.com/readium/readium-shared-js/issues/37

[2015-08-17 15:45] danielweck commented on #37
Duplicate of https://github.com/readium/readium-shared-js/issues/181 ?
If so, does https://github.com/readium/readium-shared-js/pull/200 fix this as well?

[2015-08-17 15:53] #168 closed

[2015-08-17 16:47] danielweck opened #201 "Extract annotations plugin into feature branch + reallocate utility / convenience functions"
https://github.com/readium/readium-shared-js/tree/develop/plugins/annotations

https://github.com/readium/readium-shared-js/blob/develop/plugins/annotations/annotations_module.js#L683

[2015-08-17 16:50] danielweck commented on #147
Follow-up to my above comment: https://github.com/readium/readium-shared-js/issues/201

[2015-08-17 16:51] danielweck commented on #201
Utility function fix: https://github.com/readium/readium-shared-js/issues/147

[2015-08-18 17:15] jdempcy commented on #201
I'm a software developer at Bluefire Productions. We make extensive use of the annotations plugin. I'd like to be involved in the ongoing work to extract CFI functionality out of the annotations plugin as well as work towards fixing any performance issues we've encountered.

[2015-08-19 16:00] danielweck opened #202 "Plugin "discovery" via RequireJS .specified() is not reliable"
This is a low priority issue: the lack of support for AMD module existence-check is not critical, as instead we can use this pattern:

[code]

However there is an existing attempt to use this functionality in the HTML app demo in `readium-js`:
https://github.com/readium/readium-js/blob/develop/dev/index.js

See code diff:
https://github.com/readium/readium-js/commit/37452dd2452f1b2b4ca6fc572b4dc8a

[2015-08-19 17:22] Bluefire-BuildMaster commented on #201
I am not entirely sure what the relationship is between @JCCR 's testing of @dmitrym0 's prefetch code and the memory leak that seemed to come from the Annotation's module.  Is there a plan to pursue this further or is removing annotations the extent of the plan?

[2015-08-19 22:23] JCCR commented on #201
@Bluefire-BuildMaster
There isn't a strong relationship. @dmitrym0 's prefetching code allowed me to benchmark and test the scenario of when an iframe is unloaded and a new one created when switching from one spine item to the next. You could replicate my findings without the prefetching, it just doesn't have the same "impact". From what I observed the memory leaks were happening because Backbone

[2015-08-26 15:58] mooshee commented on #116
Any updates on this?  The branch referenced by @danielweck is now gone 'feature/is_element_cfi_visible'.  We were using this as @JCCR described by looping through all of the bookmarks for the current spine and running "ReadiumSDK.reader.isElementCfiVisible".  That function was exposed in the aforementioned branch, but is now gone.  Is there an alternative method?

[2015-08-26 16:53] danielweck commented on #116
@mooshee I _think_ this was merely a convenient wrapper function for `CfiNavigationLogic.isElementVisible()` (delegating to ReaderView._currentView, etc.)

@JCCR, what about the new `isElementCfiVisible()` in the refactored `CfiNavigationLogic`? (or is that superceded by another feature branch / PR?)
https://github.com/readium/readium-shared-js/blob/feature/cfi_nav_logic_refactoring/js/views/cfi_n

[2015-08-26 17:16] mooshee commented on #116
@danielweck You are correct that it was a convenient wrapper.  It appears the refactored branch handles ranged CFIs as well.

@JCCR What's the state of this feature branch?  It hasn't been touched since March 20.

[2015-08-26 18:54] jdempcy commented on #196
This code is also super slow in my testing:

        var $html = $(this.get("contentDocumentDOM"));
        var matrix = $('html', $html).css('-webkit-transform');
        var scale = new WebKitCSSMatrix(matrix).a;

In particular, the new WebKitCSSMatrix() line.

For me, removing these 3 lines and setting the scale hard-coded to the value 1 cuts the execution time  in half for rendering highlights

[2015-08-26 18:58] jdempcy opened #203 "Highlighting CSS class name "highlight" conflicts with commonly-used CSS class name"
This issue has been reported to us by Ivan Herman of the W3C:

"There seems to be a bug in the Chrome extension. The following happens: there is a \<pre\> element in the XHTML file that has several class names, one of them is "highlight". (The content of the \<pre\> is actually coloured code.). On Readium (and not on Chrome or on iBook reader) this goes wild: the content of \<pre\> overlaps someho

[2015-08-26 19:05] jdempcy commented on #203
In readium-plugin-annotations.js:

    el : "<div class='highlight'></div>",

In annotations.css:

    .highlight {
        /* ... */
    }

In each of these locations, the word "highlight" can be changed to something like "readium-highlight" to fix potential naming collisions with ebooks that use the class name "highlight." And likewise, we can update these files for "comment" and "bookmark" as w

[2015-08-26 20:40] JCCR commented on #196
Interesting finding! Maybe it can be memoized to improve performance.

On Wed, Aug 26, 2015, 11:54 AM Jonah Dempcy <notifications@github.com>
wrote:

[2015-08-26 20:42] danielweck commented on #203
I could not agree more with your suggestions.
The "annotations" plugin is out-of-date, but thankfully @JCCR has started to work on it, see:
https://github.com/readium/readium-shared-js/issues/201

[2015-08-26 20:43] danielweck commented on #201
Let's not forget to rename the CSS classes that are used to highlight / etc.
See: https://github.com/readium/readium-shared-js/issues/203

[2015-08-26 20:57] danielweck commented on #196
@jdempcy perhaps a useful data point, regarding HTML scaling in fixed layout documents:

https://github.com/readium/readium-shared-js/blob/develop/js/views/one_page_view.js#L538
https://github.com/readium/readium-shared-js/blob/develop/js/views/reader_view.js#L92
https://github.com/readium/readium-js/blob/develop/js/Readium.js#L67

( note that `needsFixedLayoutScalerWorkAround()` is true in all Re

[2015-08-26 22:10] Bluefire-BuildMaster commented on #201
Thank you, @JCCR.  For those of us that use the annotations module, is there a plan to explore non-Backbone-based annotations?  Or should we take that on since we plan to make use of it?

[2015-08-27 04:47] iherman commented on #203
@danielweck @jdempcy : thanks!

[2015-08-27 14:38] rkwright commented on #203
I agree with this approach.

[2015-08-27 14:48] iherman opened #204 "Using the id "cover" in the package file conflict with the generation of a default cover..."
I have an EPUB file that does not have an explicit cover image. I expect Readium to come up with some sort of a default background possibly with the title overlaid on it. However, I found a problem with this.

Here is the package file content I had (omitting the uninteresting parts):

[code]

if I use this, and I upload the book into Readium, there is no generated cover page at all; it is blank. H

[2015-08-27 15:14] chine commented on #171
We've encountered the issue described in [readium/readium-js-viewer#306](https://github.com/readium/readium-js-viewer/issues/306) and believe we have a fix, or at least an improvement.

Submitted [PR #205](https://github.com/readium/readium-shared-js/pull/205)

[2015-08-28 15:29] don-jomedia opened #206 "[Android Weview] Reflowable view: Wrong scrollHeight returned when launching the reader"
We are adding a feature to our book reader for our Android application that will remember the last page the user was at in the book and the next time we launch the same book in the book reader, we will set the book at that page.  We are using the book reader bookmarks mechanism for this.

What we are observing is that when we open the book at another location than the default first page of the boo

[2015-08-28 16:40] danielweck commented on #206
Thank you for reporting this bug. Are you able to reproduce the behaviour with any EPUB, or with those that load CSS font-faces? See: https://github.com/readium/readium-shared-js/pull/179

Generally-speaking (i.e. irrespective of font-face delayed rendering), it sounds like `triggerLayout()` does not guarantee that `scrollHeight` is computed correctly? See:
https://github.com/readium/readium-share

[2015-08-31 16:57] danielweck commented on #204
Thank you for reporting this @iherman
Looking at the code, `id="cover"` is a "dumb" fallback for EPUB2 ebooks (but unfortunately, this is probably a necessary hack for a lot of older e-books). See:
https://github.com/readium/readium-js-viewer/blob/develop/src/js/PackageParser.js#L55
[code]

One way to fix this would be to add a check that `id="cover"` is indeed an image (check for the `media-type`

[2015-08-31 17:11] danielweck commented on #203
Note that in addition to the `comment`, `bookmark` and `highlight` CSS classes, there are also:
`hover-comment`, `hover-highlight`, `hover-underline`, `underline-range`, `underline-part`, `transparent-part`, `bookmark-marker`, `cfi-marker`, `range-start-marker`, and `range-end-marker` (which are obviously less problematic in terms of possible collisions with EPUB-authored class names, but I would

[2015-08-31 17:19] danielweck commented on #171
Thanks @chine I reviewed your PR and looks fine, but where did you hook `ReadiumSDK.Models.Switches.apply`? (`iframe.onload` callback, overridden `updateIframeEvents` method?)

[2015-09-01 15:39] don-jomedia commented on #206
@danielweck It seems so far that we observe this behaviour with EPUBs that load CSS font-faces.  We will try to find books that don't have CSS font-faces to confirm.

[2015-09-02 17:45] bpyoung commented on #199
Is there a sample ePub in which this is reproducible?

[2015-09-04 20:55] chine commented on #171
We didn't change anything else. I should say we're still on 0.18.

It's being called by the line: `ReadiumSDK.Models.Switches.apply(contentDoc);` in the callback unction of `_currentView.on(ReadiumSDK.Events.CONTENT_DOCUMENT_LOADED` defined in `initViewForItem` of ReaderView. We've been operating in scroll-doc mode as well.

[2015-09-07 17:26] danielweck commented on #116
@mooshee it looks like @JCCR merged this to develop:
https://github.com/readium/readium-shared-js/commit/7efa8b9a4c9e30af403913ade1c2961bfa193c20

[2015-09-08 07:31] danielweck commented on #171
@chine oh yes, of course! (`CONTENT_DOCUMENT_LOADED`)
https://github.com/readium/readium-shared-js/blob/develop/js/views/reader_view.js#L228

[2015-09-08 16:00] mooshee commented on #116
Great, thanks!  Btw, this is working great for us.  Let me know if there's something I can contribute to help close this out.

[2015-09-11 13:21] #116 closed

[2015-09-15 11:17] danielweck commented on #172
Fixed here:
https://github.com/readium/readium-shared-js/commit/377b3014567cbda4236df1c53734e25cac4111fa
(ensures that only the tail end of a debounced series of event callbacks is consumed)
This fixes some Media Overlays playback issues as well (as the MO engine is very sensitive to `onPaginationChanged`), such as TOC linking.

[2015-09-15 11:17] #172 closed

[2015-09-17 22:59] danielweck commented on #149
Fixed in PR: https://github.com/readium/readium-shared-js/pull/211

[2015-09-17 22:59] danielweck commented on #26
Addressed in PR: https://github.com/readium/readium-shared-js/pull/211

[2015-09-18 21:31] JCCR commented on #196
I'm revisiting this for #212

[2015-09-18 21:52] mooshee opened #214 "Changing from single to double page spread does not take effect."
Steps to reproduce:
1. Open moby-dick-20120118.epub --> Spine Items --> xchapter_001
2. Ensure Synthetic Spread is set to Single
3. Open settings
4. Set Synthetic Spread to Double
5. Observe single page spread (appears to be only show the first page/column of the spread)

NOTE: Reloading the spine or loading a new spine (by arrowing to the next chapter) fixes the layout.

Test environment:
SDKLaun

[2015-09-21 12:32] danielweck opened #215 "Scroll continuous viewport mode, non-linear spine items"
Follow-up to:
https://github.com/readium/readium-shared-js/issues/26

[2015-09-21 12:35] danielweck opened #216 "2-page synthetic spread requires page refresh in some cases"
To reproduce:
http://readium-diagram.surge.sh/?epub=nonLinear
1) resize browser window down to create more CSS columns (reflowable pagination)
2) enlarge the window again
=> stuck in one-column (single page) mode.

[2015-09-21 12:57] danielweck opened #217 "Verify Media Overlays non-linear spine items, also check scroll view"

[2015-09-21 14:28] danielweck commented on #215
Problem: non-linear spine items are excluded from the vertical stack of documents, but when hyperlinking into one of them, what happens? Proposal: switch to non-continuous (per-document) scroll mode, so that only a single spine item is rendered displayed.

See PR (`nonLinearSpineItems` feature branch):
https://github.com/readium/readium-shared-js/pull/211

[2015-09-21 20:14] rkwright commented on #215
This seems like a reasonable approach to me.

[2015-09-21 20:19] danielweck commented on #217
Proposal: to test this without pre-recorded audio files, use TTS support in the MO engine.
TODO on this sample: http://readium-diagram.surge.sh/?epub=nonLinear

[2015-09-21 21:25] danielweck commented on #216
Fixed here:
https://github.com/readium/readium-shared-js/commit/a891eda37db6b7bf85aa39675e01357f763d6253
(CSS Column values were not reset properly, causing some old properties to take precedence)

[2015-09-21 21:25] #216 closed

[2015-09-21 21:25] danielweck commented on #214
Thank you for reporting this (screenshots help!)
This should be fixed now: https://github.com/readium/readium-shared-js/issues/216
Please re-open this issue if you still experience this problem.

[2015-09-21 21:25] #214 closed

[2015-09-22 16:20] JCCR opened #218 "Hightlighting when selection is disabled due DRM restrictions"
As stated in the title. This is for creating highlights when browser text selection is disabled to prevent copying & pasting.

[2015-09-22 18:15] JCCR commented on #218
You can give this a try:

[code]

[2015-09-23 15:24] danielweck commented on #218
What about CSS `user-select: none`, and also `touch-callout: none`?
`

[2015-09-24 17:14] JCCR commented on #218
To give my post more context:

This is how you could prevent copy-pasting while keeping selection intact.

[2015-09-24 17:15] danielweck commented on #218
But you can still drag+drop, right?

[2015-09-25 09:52] danielweck opened #219 "EPUB spine item absolute URLs cannot be resolved when base URI contains query or fragment"
For example:
`http://development.readium.divshot.io/?epub=http://development.readium.divshot.io/epub_content/internal_link.epub?test`
vs.
`http://development.readium.divshot.io/?epub=http://development.readium.divshot.io/epub_content/internal_link.epub`

`http://development.readium.divshot.io/?epub=epub_content%2Faccessible_epub_3`
vs.
`http://development.readium.divshot.io/?epub=epub_content%2Fac

[2015-09-25 09:55] danielweck commented on #219
Fixed: https://github.com/readium/readium-shared-js/commit/48f0d2c93a5f53c1c5c72f615852b13e49bd754c

[2015-09-25 09:55] #219 closed

[2015-09-25 10:11] danielweck commented on #219
Success tests (taken from https://github.com/readium/readium-js/issues/116#issuecomment-143180504 ):
http://readium.surge.sh/?epub=http://www.feedbooks.com/item/1204305/preview
http://readium.surge.sh/?epub=http://www.feedbooks.com/book/52.epub

[2015-09-25 10:15] danielweck commented on #219
Success tests:
http://development.readium.divshot.io/?epub=http://development.readium.divshot.io/epub_content/internal_link.epub?test=val&val=test#readium

http://development.readium.divshot.io/?epub=epub_content/internal_link.epub?test=val&val=test#readium

[2015-09-27 18:35] danielweck commented on #171
`ReadiumSDK.Models.Switches.apply(contentDoc);` is applied when the `CONTENT_DOCUMENT_LOADED` event triggered, so no need for `iframe.load`

Additionally, merged fix: https://github.com/readium/readium-shared-js/pull/205

[2015-09-27 18:35] #171 closed

[2015-09-29 15:28] pmstss opened #220 "reader.updateSettings({syntheticSpread: value}) does not update layout"
I think resetCurrentView() should be called in this case inside initViewForItem(), but earlier exit happens after deduceDesiredViewType() call and comparing returned value with existing. That values are equal, because  deduceDesiredViewType() doesn't take changed syntheticSpread value into account.
So condition for calling resetCurrentView() seems to be wrong.

[2015-09-30 13:52] romaingiard commented on #17
Hello,

I'm new in Readium, sorry but I didn't find highlighting functionality using the develop branch readium-shared-js. Is it still available ?

Thanks

[2015-10-01 12:23] romaingiard opened #223 "How to generate readium-share-js_all.js ?"
Hello,

I'm new in Readium, I'd like to use functions like getCurrentSelectionCfi , addHighlight (now in reader_view.js)  how to include it in readium-share-js_all.?

Thanks

[2015-10-07 15:18] danielweck commented on #223
Hello, the process is documented in the README:
https://github.com/readium/readium-shared-js/blob/develop/README.md#development
(scroll down to the "Plugins integration" section)
Make sure to include the "annotations" plugin in order to have it included in your build.
Note that this plugin is obsolete, and a revised / improved version is being worked on:
https://github.com/readium/readium-shared-j

[2015-10-07 15:18] #223 closed

[2015-10-07 15:19] danielweck commented on #17
@romaingiard https://github.com/readium/readium-shared-js/issues/223

[2015-10-07 15:21] danielweck commented on #220
Hello, this seems to work fine in the "cloud reader":
http://development.readium.divshot.io

Could you please explain the steps to reproduce this bug?
Many thanks!

[2015-10-09 19:21] danielweck opened #224 "screen reader loses reading sync because pagination engine shifts HTML position to simulate page turn (instead of scroll offset within scrolling viewport)"
Also see:
https://github.com/readium/readium-js-viewer/issues/309

[2015-10-09 19:26] danielweck commented on #224
Problem: how to infer a scroll view "around" the top-level HTML element (which does not have a concrete container element)

https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L437
[code]

[2015-10-12 16:56] rkwright opened #225 "Enable installing private resources for Readium"
Sometimes a Readium-based application has a need to install specific resources that can only be used by the current Readium application.  An example would be a proprietary font.  The user needs to have a specific font installed for use with certain books.  This font is proprietary so it cannot be installed as a system resource (since other applications would be able to access it).
This feature sho

[2015-10-16 16:15] pmstss commented on #220
i meant just calling `reader.updateSettings({syntheticSpread: 'single' / 'double' / 'auto'})` from browser console.
i tried with cloud reader - can't reproduce something similar there.
and i can't reproduce it in own app anymore after updating readium-related part from master to develop branch.
sorry, perhaps it was just some old issue in master.

[2015-10-16 16:15] #220 closed

[2015-10-20 10:06] danielweck opened #226 "absolute resource URLs are handled as relative (EPUB3 external media)"
See `resolveRelativeUrl()` https://github.com/readium/readium-shared-js/blob/develop/js/models/package.js#L79

[2015-10-20 10:08] danielweck commented on #226
Fixed here: https://github.com/readium/readium-shared-js/commit/789169c14021296e913c1a6d6a79f42d4440dfc4
(URL is considered "absolute" when a scheme / protocol is present in its syntax)

[2015-10-20 10:08] #226 closed

[2015-10-20 10:09] mmenu-mantano opened #227 "navigator.epubReadingSystem is not available for the publication"
`globals.js` states:

However, I can't access the epubReadingSystem object from my publication, unless I do something like this in the web inspector:

```<iframe>.contentWindow.navigator.epubReadingSystem = navigator.epubReadingSystem;```

[2015-10-20 10:11] danielweck opened #228 "Manifest items with "./" prefix in src / href path fail to match when navigating hyperlinks (including TOC)"
(reported by @mattgarrish)
Although the `./` path notation is valid, Readium fails to handle it. That's because of naive path matching heuristics in `getItemByHref()`:
https://github.com/readium/readium-shared-js/blob/develop/js/models/spine.js#L181

[2015-10-20 10:13] danielweck commented on #228
Fixed here: https://github.com/readium/readium-shared-js/commit/e0a0ae6a7d3b09d3ce1a458c31e341e744515db0

[2015-10-20 10:13] #228 closed

[2015-10-20 11:23] danielweck commented on #227
Is that with one of Readium's own native application launchers (iOS, OSX, Android), or with Readium's own Chrome extension, or cloud / web reader?
Or is that with your own application?
I ask because the `navigator.epubReadingSystem` injection method is highly-dependent on the target platform (due to web view / web browser restrictions).

[2015-10-20 13:13] mmenu-mantano commented on #227
@danielweck It was in our host app. I just checked with the SDKLauncher-iOS and it seems to inject the epubReadingSystem through RDPackageResourceConnection.

Unfortunately when I integrated Readium, RDPackageResourceConnection was part of the launcher and I kept my own copy until today.

Thank you for you help, closing the issue!

[2015-10-20 13:13] #227 closed

[2015-10-22 15:57] pmstss commented on #226
check with "is" query (http://medialize.github.io/URI.js/docs.html#constructor) i.e. `is('relative')` will do job more straightforward - or there are some caveats here? also new keyword can be omitted and then check syntax  will be bit more elegant `URI(relativeUrl).is('relative')`

[2015-10-22 16:59] danielweck commented on #226
Thanks for chiming in @pmstss
I totally agree, in fact this is why I commented explicitly in the description (for future reference, as we might need to actually check / use the `.scheme()`).

Additional remarks:
I keep coming across path normalization issues, URL handling discrepancies, etc. in the Readium codebase. For example sometimes path concatenation is done "manually", sometimes using the `

[2015-10-22 17:27] bluefirepatrick commented on #226
@danielweck, this is something that we have noticed as well: a book created with some generic template that only used relative paths to differentiate resources could easily break things.  It's on our list of things to fix but it not front-burner for us right now.  We do have some ideas around it though so if you are wanting to tackle this we would be happy to share them.

[2015-10-23 14:43] pmstss commented on #226
Thank you @danielweck for details about path issues, i have just added [path-related pull request](/readium/readium-js/issues/121) to `readium-js` - additional confirmation that path handling sometimes is tricky.

Initial objection was that code sometimes is unnecessary wordy, that makes it harder to read. Btw, is some code style checks like [node-jscs](/jscs-dev/node-jscs) are already implemented

[2015-10-23 14:56] danielweck commented on #226
@pmstss thanks for the heads-up about JSCS. There's support for JSLINT in the current build system (could be used as a pre-compile step), but it's not wired-in at the moment (too many warnings / errors!)
https://github.com/readium/readium-js-viewer/blob/master/package/package_scripts_build.cson#L35
https://github.com/readium/readium-cfi-js/blob/master/readium-build-tools/jshint_glob.js

[2015-10-26 20:05] danielweck commented on #226
@pmstss `URI.is("absolute")` API now used: https://github.com/readium/readium-shared-js/commit/7d8bea0f9a8c453bba77214e1a8184b8a87be4ac
(I'm also making this consistent in the other repositories)

[2015-10-27 21:48] JCCR opened #230 "Navigating to CFIs results in incorrect jump location"
This bug #121 is still not fully fixed for PR #210
It is harder to reproduce but still exists.

Further investigation is needed.

[2015-11-03 18:46] bluefirepatrick commented on #230
Let's start a discussion of how we can address this issue.  I believe that Daniel, Juan and Jonah will all be working on it.  Are there other developers that would like to participate?  The next order of business will be to decide on which branch of readium-shared-js we should all work in.  Should we use intel-cfi-improvements or create a new branch to work in?

Once we have decided who and where

[2015-11-03 20:46] rkwright commented on #230
@bluefirepatrick Thanks for starting this thread!

Two items:
- Let's stick with the "intel-cfi-improvements" branch
- We need the simplest possible test that shows the failure.  I'm thinking an EPUB with one spine item with a reflowable element.  Some simple navigation ("to the beginning, to the end, to the second paragraph", etc.)
If we can then demonstrate the error, then we're in business.

[2015-11-27 09:56] romaingiard opened #234 "Image cut"
Hello,

When an image is higher than the screen height it's cut, moreover when an image is in the bottom of a page it's also cut.
Is it possible to avoid this behaviour ?

Thank you.

[2015-11-29 20:18] danielweck commented on #234
Hello @romaingiard this is a known problem with CSS Columns (which Readium uses to implement "book-like" visual pagination). Please take a look at the existing issues (and discussion threads), and let us know if you have thoughts / ideas on how to consistently constrain the image size depending on its wrapping context (ancestor HTML elements and CSS styles).
https://github.com/readium/readium-shar

[2015-11-29 20:18] #234 closed

[2015-12-03 16:11] danielweck opened #235 "Broken fixed-layout FXL page transition effects"
Looks like the combined CSS presentation effects on iframe contents and iframe parents do not work anymore, probably something to do with animation timing (easy to check with `setTimeout()` on the END `transform`), and the "scaler" container for the page (zoom applied to the HTML element of content documents vs. the iframe's div parent).
Disabled feature:
https://github.com/readium/readium-shared-

[2015-12-03 17:26] #148 closed

[2015-12-07 21:33] jdempcy opened #236 "CSS columnization breaks touchstart events in iOS 9 WKWebView"
I'm working on an app in iOS 9, WKWebView. I've registered touchstart events on all child elements of body (body > *).

These touchstart events fire as expected on all elements except for the parts of elements after wrapping to the next column.

For instance, this  element fires touchstart when tapping just fine:

![image](https://cloud.githubusercontent.com/assets/95693/11640334/e69cd208-9ce6-11e

[2015-12-08 09:16] danielweck commented on #236
Very interesting, thanks for reporting.

Readium's Media Overlays engine wires-up the touch start event on mobile devices, to (1) enable initial playback without user interaction (in native apps this HTML5 audio restriction can be bypassed via webview API, but not in web browsers), and (2) to respond to user touch-to-play intent.

So, the issue you describe is problematic with synchronized text/au

[2015-12-08 19:03] matwood commented on #196
There were some comments on the call talking about doing things per spine item. There is a danger in that because nothing forces EPUBs to use multiple spine items. We have some large compendiums where the author/EPUB creator made the entire book a single spine item. We also have cookbooks where every page is its own spine item.

I don't believe I have any public domain examples, but if I come acro

[2015-12-08 20:38] jdempcy commented on #196
Known issues with highlights as of 12-8-2015, in the intel-cfi-improvements branch (with Juan's improved highlighting branch merged in):

- When you change orientation, the highlights do not redraw, but instead retain their previous presentation which no longer lines up to the text. So after changing orientation, you just have floating boxes that are no longer related to the text.

If we leave it

[2015-12-09 00:03] jdempcy commented on #196
I am currently manually removing and adding highlights back to redraw them because I get an error sometimes when calling redrawAnnotations() immediately triggered by a PAGINATION_CHANGED event.

The error is:

          Error: TypeError: null is not an object (evaluating 'contentDocumentFrame.contentWindow.innerWidth') Script: http://127.0.0.1:49579/readium-shared-js_all.js Line: 16000 Column: 72

[2015-12-09 00:09] danielweck commented on #196
@jdempcy it looks like you are getting debugging traces from the large `readium-shared-js_all.js` RequireJS bundle (which contains every AMD modules in the application).
When you open the web inspector, are the source maps applied? (`readium-shared-js_all.js.map` should be in the same directory, inside your iOS app bundle) See:
https://github.com/readium/readium-shared-js/tree/feature/intel-cfi-im

[2015-12-09 00:56] jdempcy commented on #196
Ah, we have not been able to serve the source map in our iOS app. Do you know how to modify the CocoaHTTPServer to allow us to serve map files?

I get the error:

    [Error] Failed to load resource: the server responded with a status of 404 (Not Found) (readium-shared-js_all.js.map, line 0)

Then, in Xcode, I get the error:

    2015-12-08 16:53:02.587 CloudShelf[31702:1569658] The core resource

[2015-12-09 01:13] jdempcy commented on #196
I'm also getting an error on the line that calls annotationsForView.cfiIsBetweenTwoCfis() below:

       this.cfiIsBetweenTwoCfis = function (cfi, lowBoundaryCfi, highBoundaryCfi) {
            var result = undefined;
            for (var spine in liveAnnotations) {
                var annotationsForView = liveAnnotations[spine];
                result = annotationsForView.cfiIsBetweenTwoCfis(cfi,

[2015-12-09 09:51] mmenu-mantano commented on #196
About redrawing the highlights, there is more than the orientation/resize event. Right now RJS events are quite messy (as you highlighted in your mail about events firing). I think it would be useful to have more global events like DID_RENDER or DID_LAYOUT. The issue right now is that we have different kind of events reported for different kind of reader views.

In the end, I'm redrawing the annot

[2015-12-09 11:15] mmenu-mantano commented on #196
I submitted a pull request (https://github.com/readium/readium-shared-js/pull/237) with various fixes and performance improvements for the highlights plugin that might interest you @jdempcy.

[2015-12-09 16:38] danielweck commented on #203
This is fixed in @JCCR 's highlight plugin branch (which is now merged into intel-CFI-improvements)

[2015-12-11 09:00] ccnucheng opened #238 "An error about JS"
Hello everyone, I use ReadiumSDK to develop a MFC reader, but to open the page times out of the denial of access to the error, I would like to ask how to solve, thank you very much!

row:6
char:9
error: denied access
code:0
url:http://localhost:5000/js/views/media_overlay_data_injector.js

[2015-12-11 09:03] danielweck commented on #238
Duplicate: https://github.com/readium/SDKLauncher-Windows/issues/30

[2015-12-11 09:03] #238 closed

[2015-12-11 18:25] danielweck opened #240 "CSS scale transform and video captions / subtitles in Chrome (Web-VTT and TTML)"
With non-identity scaling, the captions/subtitles are not displayed (affects fixed-layout spine items).
We need to log a bug report: https://code.google.com/p/chromium/issues/list
(we need to create a minimal test case, from @rkwright 's SmokeTestFXL.epub which contains small video files)

Also note: https://code.google.com/p/chromium/issues/detail?id=458520 and https://code.google.com/p/chromium/

[2015-12-23 18:53] danielweck opened #241 "plugins: name with dash / stroke char breaks build?"
"Note that "dlts-rjs-plugin-oa-books" breaks the build, so plugin registration at the moment uses camel-case convention. (TODO: Find out what the plugin naming rules are)"

https://github.com/NYULibraries/dlts-rjs-plugin-oa-books

CC @da70

[2015-12-23 21:13] da70 commented on #241
@danielweck Much appreciated!

[2015-12-24 12:25] supernev opened #242 "Needs an method to change odd/even page-frame"
I'm trying to simulate specific book styles which have different page-frame on odd/even number pages.
It'll be great to have css styles like ".reflowable-content-even-frame"  ".reflowable-content-odd-frame".

Or an API in "ReadiumSDK.reader" to setup different page frame according to current page.

[2016-01-03 03:33] supernev commented on #242
Well, a plugin could do this.

[2016-01-03 03:33] #242 closed

[2016-01-05 17:55] duanwalker opened #243 "User encounters browser error when opening test books in firefox or safari"
student testers report Safari browser error of "Safari cannot open the page because the address is invalid" when attempting to open test books in Safari from  iPad4G- iOS-6.0.1.
I was able to reproduce this error in Safari and Firefox on my 64 bit Win 7 Pro desktop browsers as well as our iPad air.
Daniel & Ric have suggested this may be a network firewall issue and is now being investigated by ou

[2016-01-06 15:43] danielweck commented on #243
Thanks @duanwalker
Given that we now know that this is due to firewall issues (invalid SSL HTTPS certificates), should we close this issue?
Dan

[2016-01-06 15:58] rkwright commented on #243
I would suggest that we wait for Duan to update the Testing document with the proper approach for ensuring testers don't run into this problem, then he can close it.

[2016-01-08 12:46] danielweck commented on #196
@mmenu-mantano regarding event flows, the latest code in the develop branch now contains a DEBUG flag for tracing the event-emitter (console logging):
https://github.com/readium/readium-shared-js/blob/develop/js/globals.js#L30

[2016-01-18 11:09] danielweck commented on #35
Fixed by PR: https://github.com/readium/readium-shared-js/pull/210

[2016-01-18 11:09] #35 closed

[2016-01-18 11:09] danielweck commented on #157
Fixed by PR: https://github.com/readium/readium-shared-js/pull/210

[2016-01-18 11:09] #157 closed

[2016-01-18 11:10] danielweck commented on #121
Is that fixed by Juan's PR? ( @JCCR )
https://github.com/readium/readium-shared-js/pull/210

[2016-01-18 11:10] danielweck commented on #114
Is that fixed by Juan's PR? ( @JCCR )
https://github.com/readium/readium-shared-js/pu

[2016-01-18 11:11] danielweck commented on #155
Fixed via PR:
https://github.com/readium/readium-shared-js/pu

[2016-01-18 11:11] #155 closed

[2016-01-21 15:48] danielweck opened #247 "New CFI DOM client-rectangles algorithm => CPU-intensive loop in Internet Explorer (similar to Japanese / vertical writing mode)"
See temporary workaround for verbose / chatty console logging:
https://github.com/readium/readium-shared-js/commit/dbdbb9abe8a9ea359fa5e2c485594d02d86c2c80

@JCCR I was able to reproduce this with IE on Windows 10. Can you please check at your end?

Thanks!

[2016-01-28 17:28] danielweck opened #248 "SVG in spine CFI navigation logic fails"
Uncaught TypeError: Failed to execute 'createNodeIterator' on 'Document': parameter 1 is not of type 'Node'.

To reproduce: Readium build from develop (includes CFI "Intel improvements"):
https://readium.firebaseapp.com/?epub=https%3A%2F%2Fcdn.rawgit.com%2FIDPF%2Fepub3-samples%2Fmaster%2F30%2Fsvg-in-spine

Compare with working Readium build from master (old CFI "navigation logic"):
https://readium

[2016-01-28 23:51] JCCR opened #249 "Proposal to add new event: CONTENT_DOCUMENT_READY"
Use case:
Adding highlights or access reader API functions only once per spine item, only when view instance is fully loaded and paginated.

This can be done with the current event model like this:

        reader.on(ReadiumSDK.Events.CONTENT_DOCUMENT_LOADED, function($iframe, spineItem) {

            reader.once(ReadiumSDK.Events.PAGINATION_CHANGED, function(pageChangeEventArgs) {

[2016-01-29 13:44] danielweck opened #250 "Images in spine fail (Page Blanche from IDPF EPUB3 samples)"
https://readium.firebaseapp.com/?epub=https%3A%2F%2Fcdn.rawgit.com%2FIDPF%2Fepub3-samples%2Fmaster%2F30%2Fpage-blanche-bitmaps-in-spine

[2016-01-29 13:47] danielweck commented on #250
The iframe@src is https://cdn.rawgit.com/IDPF/epub3-samples/master/30/page-blanche-bitmaps-in-spine/EPUB/Image/cover.jpg
...but the HTML template generated by the web browser contains a reference to a Blob?

[code]

[2016-01-29 21:12] JCCR commented on #248
Looking into it.

[2016-01-29 21:56] JCCR commented on #248
@danielweck Unrelated: Are the jpeg images in the SVG spines (with xlink:href) supposed to be not working?

[2016-01-29 22:04] JCCR commented on #248
Fixed in 3ee4844

[2016-01-29 22:22] danielweck commented on #248
@JCCR `xlink:ref` requires a `xml:base` or `html>head>base@href` when the SVG document is loaded as a BlobURI. Unfortunately support for both `xml:base` and `base@href` is broken in SVG (known browser issues, unrelated to Readium). I am investigating different ways to address this.

[2016-02-02 10:40] danielweck commented on #248
Thanks @JCCR I am closing this issue, but I am opening a separate one for SVG scaling issues (SVG-in-spine)

[2016-02-02 10:40] #248 closed

[2016-02-02 10:54] danielweck opened #251 "cloud reader: SVG in spine causes xlink-ed scripts and images to fail (resources are resolved against bad base href, BlobURI vs. normal URI in other launchers)"
https://readium.firebaseapp.com/?epub=https%3A%2F%2Fcdn.rawgit.com%2FIDPF%2Fepub3-samples%2Fmaster%2F30%2Fsvg-in-spine

`xlink:ref` requires `xml:base` or `html>head>base@href` when the SVG document is loaded as a BlobURI. Unfortunately support for both `xml:base` and `base@href` is broken in SVG (known browser issues, unrelated to Readium).

SVG scaling factor is wrong due to lack of head>meta@vi

[2016-02-02 10:56] danielweck commented on #248
Juan's fix tested at: https://readium.firebaseapp.com/?epub=https%3A%2F%2Fcdn.rawgit.com%2FIDPF%2Fepub3-samples%2Fmaster%2F30%2Fsvg-in-spine

Note that SVG-embedded images (xlink-ed) fail to resolve against the base URI, this is a know issue:
https://github.com/readium/readium-shared-js/issues/251

[2016-02-02 14:15] danielweck commented on #249
Good idea. Especially as `reader.once()` is so easy to mistake with`reader.on()`, and very convenient for accessing the `spineItem` reference directly too.

`CONTENT_DOCUMENT_READY` sounds good to me.

List of existing (related) events:
https://github.com/readium/readium-shared-js/blob/develop/js/globals.js#L62

`PAGINATION_CHANGED` `CONTENT_DOCUMENT_LOAD_START` `CONTENT_DOCUMENT_LOADED`

[2016-02-04 23:04] danielweck opened #253 "TOC navigation broken (headings inside spine item)"
@JCCR do you think this is a CFI "navigation logic" issue?
Try "Accessible EPUB3":
https://readium.firebaseapp.com/?epub=https%3A%2F%2Freadium.firebaseapp.com%2Fepub_content%2Faccessible_epub_3
...open the TOC, and link-click into any heading under "2. Building a Better EPUB: Fundamental Accessibility".
This works fine in Chrome, but fails in Firefox, Internet Explorer and Edge! :(

[2016-02-05 12:49] hz0324 opened #254 "cloud reader demo dosent work"
as the tile

[2016-02-05 17:08] danielweck commented on #254
The Readium web reader app (built from the develop branch) is working well at the following deployment sites:

https://readium.firebaseapp.com

https://readium.surge.sh/?epubs=https%3A%2F%2Freadium.firebaseapp.com%2Fepub_content%2Fepub_library.opds

If you wish to build your own app, please follow the instructions in the README:

https://github.com/readium/readium-js-viewer/blob/develop/README.md

[2016-02-05 17:08] #254 closed

[2016-02-05 23:53] hz0324 commented on #254
Thanks, it is really great.
I guess youd better change the link of cloud reader on Project home page, which is not working now. As bellow
http://development.readium.divshot.io

[2016-02-06 08:39] danielweck commented on #254
Thank you!
What project homepage is this link available from?

http://readium.github.io

http://readium.org

Else?

[2016-02-06 13:30] hz0324 commented on #254
right here: https://github.com/readium/readium-js-viewer
please see the screenshot
![1232131](https://cloud.githubusercontent.com/assets/5040078/12866891/de2ce600-cd18-11e5-9caa-cdc9fe8dd0ea.png)

[2016-02-08 18:00] danielweck opened #255 "highlighter plugin: selection that spans across reflowable page boundary (CSS column) cannot be created / hovered / clicked"
To reproduce:
https://readium.firebaseapp.com/?epub=epub_content%2Faccessible_epub_3
1) open a long-ish chapter (several pages)
2) create a text selection that is visible on one side (left page), but out-of-view on the other side (right page). simply drag pass the browser window.
3) click highlight button to create the red overlay
4) goto next page (the red highlight is visible)
5) try to hover /

[2016-02-08 18:05] danielweck opened #256 "highlighter plugin: create selection followed by TOC show/hide, or page resize => wrong red overlay offset (no refresh)"
To reproduce:
https://readium.firebaseapp.com/?epub=epub_content%2Faccessible_epub_3
1) open any chapter
2) create text selection / red highlight
3) open TOC or resize window

=> there is no highlight refresh (wrong red overlay offset)

[2016-02-08 18:48] rkwright commented on #254
Fixed in the develop branch readme.md

[2016-02-08 20:33] danielweck commented on #254
@rkwright I suggest the following corrections:
https://github.com/readium/readium-js-viewer/commit/8335715a1c91757a45aef9ebbbddbdbac1184eb5#diff-04c6e90faac2675aa89e2176d2eec7d8

[2016-02-09 15:05] olivierkorner opened #257 "Bookmarks broken on iOS, contentCFI always null"
When creating a bookmark on iOS in a reflowable book, the contentCFI part of the bookmark structure returned by bookmarkCurrentPage is always null.

Digging a little deeper revealed that getCaretRangeFromPoint() always returns null.
https://github.com/readium/readium-shared-js/blob/develop/js/views/cfi_navigation_logic.js#L112

[2016-02-09 15:13] danielweck commented on #203
Fixed: https://github.com/readium/readium-shared-js/pull/212

[2016-02-09 15:13] #203 closed

[2016-02-09 15:13] danielweck commented on #201
Fixed: https://github.com/readium/readium-shared-js/pull/212

[2016-02-09 15:13] #201 closed

[2016-02-16 18:39] rkwright opened #258 "Continuous scroll option is not working"
The option to reflow an entire EPUB into one long galley document is currently broken.  Instead of concatenating all the spine items into one long galley, Readium concatenates some limited number (like 2 or 3 spine items) then stops.  In fact, you can't even navigate past the point where it stops.  If you try to choose the next spine item after that stoppage (via the TOC), Readium apparently re-pa

[2016-02-16 19:43] danielweck commented on #258
This is working fine in my Chrome web browser on Android 6

https://readium.firebaseapp.com/?epub=https%3A%2F%2Freadium.firebaseapp.com%2Fepub_content%2Faccessible_epub_3

..it's the latest cloud reader app build from develop, which includes the jQuery regression bug fix. Could you please try again? (in your desktop browser)

Thanks!

[2016-02-16 23:04] rkwright commented on #258
That seems to work on my MBP with Chrome, Safari and Firefox.  But it is broken in the current Chrome Extension on the store.  Let's discuss briefly in the eng meeting tomorrow.

[2016-02-16 23:07] JCCR commented on #257
Looking into this but I might need some more info as to which books or the type of content that was tested.

[2016-02-16 23:56] JCCR commented on #253
Fixed in a110d5f.

Tested in Firefox.

@danielweck Could you test on IE/Edge for me and close this when done? Thanks

[2016-02-17 10:00] danielweck commented on #253
The fix is working great @JCCR Thank you!
Tested on Windows 10 in: Chrome, Firefox, Edge and Internet Explorer.
(PS: there is still the issue of CPU spike in IE, laggy TOC linking, see https://github.com/readium/readium-shared-js/issues/247 )

[2016-02-17 10:00] #253 closed

[2016-02-17 14:39] danielweck commented on #258
Sounds like jQuery 2.2.0 which breaks the '.position()' function. Fixed in the develop branch:

https://github.com/readium/readium-shared-js/compare/5693ddf514d1f47326c479ad791705be14a6dd00...d8e3da04e489c84376921c58134f1e9ff3834a20

See:

https://github.com/readium/readium-cfi-js/pull/48#issuecomment-184581089

[2016-02-18 15:21] rkwright commented on #257
@olivierkorner Does this problem occur with the EPUB you shared with Daniel Weck and I (Walter Bennet)?  Would it be OK for me to share that EPUB with Juan so he can look at this problem?  He will not distribute the EPUB.

[2016-02-18 15:57] rkwright commented on #258
Verified that it is fixed in the current 2.23-alpha build on github/releases

[2016-02-18 16:23] danielweck commented on #258
Thanks Ric! Can this issue be closed now?

[2016-02-18 17:04] rkwright commented on #249
I am OK with merging it after we push 0.23

[2016-02-18 17:54] rkwright commented on #243
@duanwalker Thanks for updating the doc.  Closing.

[2016-02-18 17:54] #243 closed

[2016-02-18 18:27] rkwright commented on #235
Leaving this open to track the fact that the transitions are disabled.

[2016-02-18 22:38] becka11y commented on #97
So, I can highlight the top level TOC item but once the user starts paging through I can't find a way to identify the section that is currently displayed.  Is there a way to get the dom of the currently visible "view"? If so, I can search for elements with the id's associated with the hrefs in the TOC associated with that spine item.  Although this would probably be slow on continuous scroll docum

[2016-02-19 20:02] rkwright opened #259 "Max column width for reflowable documents is too narrow"
If I have a reflowable document we layout the document in a very narrow column no matter if single or double spread is set.  Only if one selects  scroll-doc or scroll-continuous do we use most or all of the width available.  This is true both on the desktop and the tablet (iPad).

The width is so narrow it looks bad.  In my WebGL tutorial I can’t even get 64 columns of monospace on the screen unle

[2016-02-19 21:06] JCCR commented on #259
I don't like that this exists in the pagination flow. In our customized
Readium for EP has this disabled. But I understand the original purpose,
maybe we need to have it vendor configurable like in the TODO comment.

On Fri, Feb 19, 2016, 12:02 PM Ric Wright <notifications@github.com> wrote:

[2016-02-20 13:44] rkwright commented on #259
@JCCR Could you elaborate?  If EP has it disabled, what, exactly, is disabled?  How is the appropriate column width calculated?  What Readium is doing now is wrong, IMO, so let's figure out what is right.

[2016-02-20 14:15] danielweck commented on #259
@rkwright last time I checked, Readium and iBooks (OSX) rendered reflowable documents using very similar pagination thresholds. That being said, based on user and vendor feedback (EvidentPoint, BlueFire, etc.) it is quite clear that this behaviour needs to be configurable. IMO disabling this completely in Readium would alienate users who struggle to read wide runs of character across pages. As alw

[2016-02-20 17:18] rkwright commented on #259
@danielweck
  I agree that it should be dynamic.  Only that our default and the maximum aren't, IMO, correct.  I'll do some more comparisons with iBooks and also Android.

[2016-02-20 17:47] olivierkorner commented on #257
@rkwright Yes it occurs with any reflowable EPUB I've tried.
of course, it's OK, you can share it with Juan, no problem.

[2016-02-22 15:55] rkwright commented on #259
OK, this is getting weirder.  Not done testing, but what I am seeing is with different values of MAXW:
* OSX: A bit too narrow at 550 (~74 chars), but looks fine at 768
* iOS:   Way too narrow at 550, but changing MAXW doesn't make any difference?  What??
* Chrome Extension:  Too narrow at 550 but looks fine at 768
* Android:  Too narrow (~61 chars) at 550,and changing it to 768 didn't seem to mak

[2016-02-22 22:22] danielweck commented on #259
Thanks Ric. I get 70-90 chars between 500-700 px page width (cloud reader / Chrome app), but of course this is highly dependent on font size (maybe even custom DPI settings on high-res displays?). By the way, Readium nullifies the margin/padding of reflowable EPUB content documents' HTML/BODY, as an attempt to make the application of the CSS Column gap (aka margin) more consistent.

[2016-02-22 22:24] danielweck commented on #259
@rkwright you may try https://github.com/readium/readium-shared-js/tree/feature/pageWidth and https://github.com/readium/readium-js-viewer/tree/feature/pageWidth (includes new config UI for page width, replaces bogus columnGap / margin)

[2016-02-23 18:33] olivierkorner commented on #257
This may be an issue with webkit. Looking for similar issues with getCaretRangeFromPoint, I found this:
https://bugs.chromium.org/p/chromium/issues/detail?id=263813
And indeed, I add "webkit-user-select: none" on <html> elements in my implementation.
Removing it seems to solve the issue.

[2016-02-24 05:06] JCCR commented on #257
Interesting find. The more I test the code that uses caretRangeFromPoint
the more I find that it's buggy and not 100% stable, which is fair it is
still experimental..

I'm going to start looking into an alternative or fallback method.

On Tue, Feb 23, 2016, 10:33 AM Olivier Körner <notifications@github.com>
wrote:

[2016-02-24 09:26] danielweck opened #260 "CFI nav logic can return pageIndex -1, should degrade gracefully in reflowable view (otherwise blank viewport)"

[2016-02-24 09:27] danielweck commented on #260
Fixed: https://github.com/readium/readium-shared-js/commit/e1904bd74d74d6ea1a299550877d05d2d45e0e8a

[2016-02-24 09:27] #260 closed

[2016-02-24 21:28] JCCR commented on #259
@rkwright
We disable it in EP's code because we feel like the container for rendering from Readium's side should try to take up the maximum amount of space, and the responsibility of setting page margins should be up to the viewer controlling the "canvas". If it needs to be dynamic then the viewer code should control this canvas by taking information or signals from Readium. This gets tricky becau

[2016-02-24 22:47] rkwright commented on #259
@JCCR  Disable it how?  In some fashion similar to what Daniel did in his feature branch?  Or set MAXW to 15 million?  Or?

[2016-02-25 02:48] JCCR commented on #259
@rkwright
Commented out this line:
https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L649

[2016-02-25 07:16] danielweck commented on #259
Hello @JCCR so I imagine that your userbase either:
- does not go full screen / maximized browser window (on wide / high-dpi displays)
or:
-  does the above, but does not mind high number of characters per line of text?

At any rate, the feature branch addresses this by exposing a simple preference control (UI slider) to allow users to configure their preferred behaviour (the page width limit can

[2016-02-25 07:25] danielweck commented on #259
@JCCR PS: I agree about the viewer taking charge of "margins" (i.e. blank spaces on either side of the content viewport, available for UI controls / application chrome). However I believe that the pagination engine (in readium-shared-js) should expose properties such as "max page width" (which is not proportionally related to margins) to ensure a consistent experience across platforms.
Thoughts we

[2016-02-25 13:28] hoppantut opened #261 "Repeatedly calling Reflowable_view.openPage with identical pageRequest.elementId or .elementCfi sends user to wrong location"
Repeated calls to Reflowable_view.openPage(pageRequest) using the same pageRequest object will cause the user to be sent to the wrong location. It will transport the user further and further away from the intended location/element with each call (until the end of the chapter is reached).

The problem seems to be that the pageIndex calculation done by cfi_navigation_logic.findPageByRectangles(...)

[2016-02-25 13:44] danielweck commented on #261
I believe this is fixed in the develop branch, could you please check? (I'm assuming you are using the master branch?)

[2016-02-25 14:56] rkwright commented on #259
I commented out the line per Juan's suggestion.  In testing on OSX with my MBP and a cinema display, when full screen is invoked, the display goes to a synthetic spread (two columns) each about 800-900 px wide.  Wasn't too wide for me, but others might find it a bit wide.  But it wasn't, IMO, horrible.  And that's a pretty extreme case (full screen on a huge display).

[2016-02-25 17:40] danielweck commented on #261
Oh, and what browser? Thanks :)

[2016-02-26 07:24] hoppantut commented on #261
Could you point me in the direction as to which commits you think fixed this issue?

The problem is evident in every browser I tried (chrome, firefox, IE11)

[2016-02-26 12:52] ilern commented on #167
Not sure if it would help, in this case but as an interim workaround on our end we modified annotations_module.js:

[code]

[2016-02-26 14:11] rkwright commented on #261
@hoppantut  Are you working from the master branch, the tip of develop or...  ?

[2016-02-26 14:18] hoppantut commented on #261
@rkwright Sorry, forgot to add that information. We're working on a fork of the 0.22.2 release

[2016-02-26 14:24] danielweck commented on #261
The problem described reminds of https://github.com/readium/readium-js-viewer/issues/404#issuecomment-141370059
(which has since been fixed on the development branch)

[2016-02-26 14:32] danielweck commented on #167
Thanks for the code contribute @ilern
Note that the "annotation" module (as it was called) has been refactored into a cleaner and more peformant implementation (now called the "highlighted" plugin):
https://github.com/readium/readium-shared-js/tree/develop/plugins/highlights
It's available in the develop branch.

[2016-02-26 18:53] rkwright opened #262 "Bad layout in Korean FXL document"
**Background Info**
A user sent in an EPUB they created.  It is a fixed layout EPUB.

**Steps to Reproduce**
Open the file in the Chrome Extension or one of the Launchers.

**Expected Behaviour**
Should render and layout perfectly.

**Actual Behaviour**
In Chrome Extensions, layout is bad with the page shifted to the right. As the browser window is shrunken, the layout changes but is never correct

[2016-02-26 19:04] rkwright opened #263 "Bad layout in FXL document"
**Background Info**
A user (ludala, airchobit@gmail.com) sent in an EPUB they created.  It is a fixed layout EPUB.

**Steps to Reproduce**
Open the file in the Chrome Extension or one of the Launchers.

**Expected Behaviour**
Should render and layout perfectly.

**Actual Behaviour**
In Chrome Extensions, layout is bad with the page shifted to the right. As the browser window is shrunken, the layou

[2016-02-26 19:17] rkwright commented on #263
Inadvertent duplicate of 262

[2016-02-26 19:17] #263 closed

[2016-02-26 20:03] rkwright opened #264 "Drawing in EPUB is not following the cursor."
**Background Info**
We were sent the EPUB by a user.  It is a government book for kids that has  maze-following quiz.

**Steps to Reproduce**
Open the file in the Chrome Extension. Go to the back of the book where the maze is.  Try to draw in the maze.

**Expected Behaviour**
Should be able to draw the lines around in the maze following the cursor.

**Actual Behaviour**
In Chrome Extensions, The r

[2016-02-26 20:43] rkwright opened #265 "Cannot navigate past the first chapter."
**Background Info**
We were sent the EPUB by a user (Larry Perkins <bohwalker@gmail.com>).

**Steps to Reproduce**
Open the file in the Chrome Extension. Try to navigate past the first chapter.

**Expected Behaviour**
Should be able to navigate through the whole book.

**Actual Behaviour**
In Chrome Extension, version 2.22.2, you cannot navigate past the first chapter. And in 2.22.2 the cover=page

[2016-02-26 22:00] danielweck commented on #265
I am not able to reproduce this bug with the latest cloud reader app build from the develop branch (direct GitHub EPUB URL):

https://readium.firebaseapp.com/?epub=https%3A%2F%2Frawgit.com%2Freadium%2Freadium-test-files%2Fmaster%2Fissue-files%2Fshared-js%2F265%2FTerry%20Brooks%20-%20Heritage%2001%20-%20The%20Scions%20of%20Shannara.epub

[2016-02-26 22:02] danielweck commented on #264
I am able to reproduce this bug using the latest cloud reader app build from the develop branch (direct link to the GitHub-hosted sample EPUB file):
https://readium.firebaseapp.com/?epub=https%3A%2F%2Frawgit.com%2Freadium%2Freadium-test-files%2Fmaster%2Fissue-files%2Fshared-js%2F264%2FDiscover_MyPlate_Grains.epub

[2016-02-26 22:05] danielweck commented on #262
There's definitely some kind of rendering / scaling bug. I only see dark pages without content with the latest build (develop branch) of the cloud reader app:
https://readium.firebaseapp.com/?epub=https%3A%2F%2Frawgit.com%2Freadium%2Freadium-test-files%2Fmaster%2Fissue-files%2Fshared-js%2F262%2Fepub20160226.epub

[2016-02-26 23:06] JCCR commented on #265
Just found a very similar bug in 0.23,

It turns out the OPF's spine has duplicate "cover" idref entries.

[2016-03-01 15:06] vichenze opened #267 "Images split"
Using auto layout with 2 columns, I have images split on each column, like this :

![splited](https://cloud.githubusercontent.com/assets/1927139/13430719/79ce797e-dfc6-11e5-9b85-a3ec9dd17075.png)

I've tried to edit the epub document and add CSS rules to the image (for example max-height: 100%), but that's not enough and the image is still split.
Is there a way to prevent such a behavior ?

Thanks

[2016-03-01 15:32] matwood commented on #267
We have not found a way to fix the split image behavior across all browsers, all EPUBs, and all browser window sizes. I would be curious to hear about anyone who has looked into this recently and may have some ideas.

[2016-03-01 15:41] johanpoirier commented on #267
You could try ```max-height: 100vh``` instead of ```100%```

[2016-03-01 15:53] da70 commented on #267
We had split cover images, and a fix that worked for us on `readium-js-viewer` version [0375c9a|https://github.com/readium/readium-js-viewer/commit/0375c9ad36ebc07b6ea074e78fbbe4bbf714b803] is to set `'position' : 'absolute'` on the `<svg>` element.  We do this when `ReadiumSDK.Events.CONTENT_DOCUMENT_LOADED` is triggered.
However, we recently loaded some new books from a new vendor and this fix i

[2016-03-01 16:07] vichenze commented on #267
@johanpoirier Thanks ! The max-heigth: 100vh trick works great with an image on top of a page.
However, it does not solve the problem if there is a paragraph before the image.

[2016-03-02 12:02] rflechner commented on #193
Hi,

I had the same problem in safari and IOS.
The problem is in FontLoader.js
this._document was an iframe and create an element generated a null value for style property.
I replaced all this._document.createElement by document.createElement, then the style property was correctly set.

All is working for me now.

Regards

[2016-03-02 15:36] danielweck commented on #193
Thanks @rflechner

So, FontLoader is an external library dependency that ReadiumJS currently fetches from `smnh/FontLoader`:
https://github.com/smnh/FontLoader
...see:
https://github.com/readium/readium-shared-js/blob/develop/package.cson#L126

It's used in `readium-shared-js` > `js/views/font_loader.js`:
https://github.com/readium/readium-shared-js/blob/develop/js/views/font_loader.js#L28

The `F

[2016-03-02 15:38] danielweck commented on #193
...so, how is it possible that "this._document was an iframe"?

[2016-03-02 15:45] rflechner commented on #193
Hi,

When we use the DOM inspector on a readium web page,  we can see the is displayed in an iframe.
It seems the document passed to the FontLoader is an Iframe.
( see. https://github.com/readium/readium-shared-js/blob/master/js/views/reflowable_view.js#L220 )

Regards

[2016-03-02 16:24] matwood opened #268 "FontLoader Error and IE10/Win8"
The FontLoader library is throwing errors in IE 10. I do not see an rendering problems in the EPUB, but the errors could be pointing to an underlying issue.

[code]

The line of code in the library being pointed to is:
[code]

I would mark this low priority, but I wanted to capture the error.

[2016-03-02 17:12] danielweck commented on #193
@rflechner you are looking at the wrong FontLoader (see my comment above):

https://github.com/smnh/FontLoader/blob/master/FontLoader.js
vs.
https://github.com/readium/readium-shared-js/blob/develop/js/views/font_loader.js
(which uses `smnh/FontLoader` linked above)

[2016-03-02 19:13] danielweck commented on #267
Related: https://github.com/readium/readium-shared-js/issues/138

[2016-03-02 19:14] danielweck commented on #267
Related: https://github.com/readium/readium-shared-js/issues/88

[2016-03-02 19:14] danielweck commented on #267
Related: https://github.com/readium/readium-shared-js/issues/144

[2016-03-02 19:14] danielweck commented on #267
Related: https://github.com/readium/readium-shared-js/issues/64

[2016-03-02 19:19] rkwright commented on #258
Sorry, folks, more testing is showing some serious issues.  If I open Alice 3 EPUB, and use continuous scrolling mode in 2.22.3 it seems to work fine.  BUT if you look closely, you'll note that the page-arrows are still displayed. And if you press them it takes you to somewhere a couple of "pages" ahead of where you are in the current "page".  It looks like it is essentially switching to a new col

[2016-03-02 19:36] danielweck commented on #258
Continuous and per-document scrolling view seems to work just fine in my tests:
https://readium.firebaseapp.com/?epub=epub_content%2Faccessible_epub_3
(Chrome browser, Windows 10)

I have been able to "get stuck" when using the mouse / trackpad scroll
gesture, because the HTML scroll control sometimes does not respond when there's no remaining pixels to move.
However I have never experienced this

[2016-03-02 19:45] rkwright commented on #258
No it is clearly broken.  I just tried Accessible EPUB and it looks OK UNTIL you go to Chapter 1 which is longer.  Then you're stuck in Chapter 1.

[2016-03-02 20:18] danielweck commented on #258
@rkwright I am afraid I am not able to reproduce the problem you describe, so I can't help debug this issue right now. I will make further attempts with other web-browser / window-size / font-size dimensions. I will let you know if I find anything conclusive. Thanks @JCCR for looking into this too! :)

[2016-03-03 09:26] rflechner commented on #193
Woups, sorry for mistake.

So, this._document was not an iframe, but create an element from it generated a null value for style property.

Regards

[2016-03-03 14:09] rkwright commented on #258
OK, now I see what is happening.  When I open a reflowable document and
set document scroll mode.  I see the start of a spine item. I can scroll
up and down in that spine item. I hit the arrow key and what Readium does
is scroll DOWN a page in the current spine item.  If I keep hitting the
arrow key I go down in the spine item and when I reach the end of spine
item it loads the next spine item.  T

[2016-03-03 14:22] danielweck commented on #258
Yes, from the very beginning, Readium's scroll-view implementation always considered that the page previous/next commands (i.e. arrow keyboard shortcut, left/right user interface button, horizontal swipe touch gesture, etc.) would "paginate". In the specific context of a vertically (or horizontally) scrolling viewport, this means offsetting / panning the content by a distance corresponding to the

[2016-03-03 21:14] becka11y commented on #97
Documenting here so I don't forget!
I tried using <viewer>.getVisibleElements("[id]") to find the visible elements that are identified in the toc.  I can then compare those id's with the ones in the toc to find the one to highlight. The problem is when the item represented in the toc is not actually displayed on the page. I can't find a way to match the currently displayed data with an id represen

[2016-03-04 13:56] danielweck opened #269 "CFI bookmarking etc. ("navigation logic"?) fails in Internet Explorer (v11, Windows 10)"
Hello Juan (@JCCR), I've been testing the bookmarking "export" feature to check that the reading location is restored correctly in Chrome, Firefox, Edge and IE...unfortunately in Internet Explorer this feature fails. The yellow highlighted character does not show up when creating the "shared CFI bookmark", and the incorrect (first) page is opened when loading a URL with a specific CFI. I'm not sur

[2016-03-08 10:33] danielweck commented on #247
This appears to be fixed by https://github.com/readium/readium-shared-js/commit/a5d1644281ca2b41094cebd0b0a2a843adbde6ba
Thanks @JCCR  :)

[2016-03-08 10:34] danielweck commented on #247
PS: as a follow-up to https://github.com/readium/readium-shared-js/commit/dbdbb9abe8a9ea359fa5e2c485594d02d86c2c80 , I restored the DEBUG flag so we can trace "bad behaviour" in CFI-nav-logic: https://github.com/readium/readium-shared-js/commit/592efe8895ad9ff2d710361e7548023638023bb0#diff-62be790bf5c3d64ad004add276e78768

[2016-03-08 10:39] danielweck commented on #269
This appears to be fixed in Edge by https://github.com/readium/readium-shared-js/commit/a5d1644281ca2b41094cebd0b0a2a843adbde6ba
Thanks @JCCR  :)
However, in IE I am able to consistently reproduce an offset error which means that the position of the highlighted / bookmarked character range is a few steps behind. To test, open:
https://readium.firebaseapp.com/?epub=epub_content%2Faccessible_epub_3

[2016-03-08 17:15] jce1028 commented on #257
We are seeing this in NYPL as well.  The book consistently return a few paragraphs/lines prior to where the bookmark was placed

[2016-03-08 17:20] #247 closed

[2016-03-11 13:49] rkwright commented on #258
Fixed with release of Chrome Extension 2.22.3

[2016-03-11 13:49] #258 closed

[2016-03-11 14:24] danielweck opened #271 "reflowable first page is temporarily shown (flash) when last page is reached from next spine item"
To reproduce, open:
https://readium.firebaseapp.com/?epub=https%3A%2F%2Frawgit.com%2Fdbelinson%2FsimpityReader%2FnewOnlyOneBook%2Fapp%2Fsrc%2Fmain%2Fassets%2Fpushkin_.epub&goto=%7B%22idref%22%3A%22bookcontent294_0%22%2C%22elementCfi%22%3A%22%2F4%2F2%5Bt_d01471%5D%2F2%2F2%2C%2F1%3A0%2C%2F1%3A1%22%7D

...and press the "previous page" button (or hit the left arrow key).

[2016-03-11 14:38] danielweck opened #272 "Occasional CFI failure with RTL Thaana script (Dhivehi language of the Maldives)"
To reproduce, open:

https://readium.firebaseapp.com/?epub=https%3A%2F%2Frawgit.com%2FSofwath%2FThaanaepub3%2Fmaster%2FAlhuganduge_Dhuvahu_Foiy.epub_FILES&goto=%7B%22idref%22%3A%22content0100.xhtml%22%2C%22elementCfi%22%3A%22%2F4%2F30%2C%2F1%3A334%2C%2F1%3A335%22%7D

...and navigate to the next page (LEFT arrow key, as this is a RTL publication). Then create a highlight selection, or click on the

[2016-03-11 14:41] danielweck commented on #271
I forgot to say: the EPUB is in Cyrillic (I think), but this is probably not the cause of the pagination event "latency".
Source: https://github.com/dbelinson/simpityReader/blob/newOnlyOneBook/app/src/main/assets/pushkin_.epub

[2016-03-11 14:55] rkwright commented on #271
I cannot reproduce this on OSX 10.10 in Chrome.  Version 48.0.2564.116 (64-bit)

[2016-03-11 15:50] danielweck commented on #271
I am able to reproduce this rendering behaviour on Windows 10 with Chrome (100% repro rate), Firefox (95% repro, estimated :) ), but Edge and Internet Explorer do not seem to exhibit this problem.

[2016-03-11 18:39] danielweck commented on #259
Addressed via PR: https://github.com/readium/readium-js-viewer/pull/498

Test:

https://readium.firebaseapp.com/?epub=epub_content%2Faccessible_epub_3&goto=%7B%22idref%22%3A%22id-id2635343%22%2C%22elementCfi%22%3A%22%2F4%2F2%5Bbuilding_a_better_epub%5D%2F2%2C%2F1%3A0%2C%2F1%3A1%22%7D

Go fullscreen on your wide display.

In the application's preferences, choose single-page. Take a mental
note of t

[2016-03-11 19:17] rkwright commented on #259
Re optimal values, the standard tablet width is 768 pixels (or 1536, etc.) but with a reasonable margin the  right value is probably around 730-740.  But that is for a single column.  Might be too wide for sum, but my EPUBs with formatted code in them with monospaced fonts, using 72 characters across work well at that width. If the width is less than that you have to shrink the font down to teeny-

[2016-03-17 06:57] danielweck opened #273 "Page Blanche HTML body>div (empty element) in white-xhtml causes infinite loader spinner (and no bookmark)"
To reproduce:
https://readium.firebaseapp.com?epub=..%2Fepub_content%2Fpage-blanche&goto=%7B%22idref%22%3A%22white-xhtml%22%2C%22elementCfi%22%3Anull%7D

CC @JCCR

[2016-03-17 06:59] danielweck commented on #273
Fixed here:
https://github.com/readium/readium-shared-js/commit/e21315ce8ce8e7c23aab437b0ed5e9e9470f05d8

@JCCR feel free to review and judge whether there may be further edge cases. I only fixed this immediate "null pointer exception" bug, I did not attempt to address the wider issue of empty HTML elements, etc.

[2016-03-17 06:59] #273 closed

[2016-03-17 08:49] danielweck opened #274 "Helpers.UpdateHtmlFontSize() slow on Firefox (compared to IE, Edge, Chrome)"
https://github.com/readium/readium-shared-js/blob/develop/js/helpers.js#L197

The `Helpers.UpdateHtmlFontSize()` function modifies the DOM at pagination time by selecting a predefined set of element names:

[code]

...and by adding / updating the attributes `data-original-font-size` and `data-original-line-height`, and applying the corresponding CSS using jQuery:

[code]

Using `window.performance

[2016-03-17 09:06] #259 closed

[2016-03-17 09:12] danielweck commented on #274
I added some code in the develop branch to investigate this further:
https://github.com/readium/readium-shared-js/commit/294095eca5d138541c90db5a146f3a049487721b

I'd like to think that we have better options than DOM mutations. Perhaps injecting CSS `!important` rules using carefully-chosen CSS selectors would be satisfactory? Besides `font-size` and `line-height`, we'll probably need to address

[2016-03-17 09:19] danielweck commented on #273
Also see: https://github.com/readium/readium-shared-js/commit/57cb72cc60ead2955904a90abfa080d685c78c58

[2016-03-17 10:18] danielweck opened #275 "window.location.href in scripted EPUB HTML content documents messes-up the iframe state"
In other words, dynamic hyperlink creation / activation and `window.location` redirect are not captured / intercepted by Readium. See `internal_links_support.js` and `processLinkElements()`:
https://github.com/readium/readium-shared-js/blob/develop/js/views/internal_links_support.js#L180

[2016-03-17 10:20] danielweck commented on #275
Original issues:
https://github.com/readium/readium-js-viewer/issues/504#issuecomment-197804416
https://github.com/readium/readium-js-viewer/issues/508#issuecomment-197804546

[2016-03-17 17:01] danielweck commented on #275
Is it possible to intercept `window.location.href` changes? Or to override the property? (probably does not work in all browsers though)

[2016-03-18 15:55] danielweck opened #276 "Document the CSS overrides and DOM manipulations performed when rendering (pagination, "margins", scroll view, image size, line-height, font-size, etc.)"
See:
https://github.com/IDPF/epub-revision/issues/672#issuecomment-198423186

[2016-03-22 02:07] mooshee commented on #257
+1

@JCCR It appears that only the first page of each spine is able to be bookmarked.  I'm running the latest from develop.

[2016-03-22 02:12] mooshee commented on #121
This is blocked by #257 at least on iOS.

[2016-03-22 05:07] JCCR commented on #257
Started work on an alternative method for improved IE11 support (maybe it might help iOS too). I'll double down on reproducing this on my end using iOS.

[2016-03-24 15:34] vichenze commented on #267
By the way, if max-height:100vh does not work in every situation, max-height: 95vh seems to work everytime (on image at least)

[2016-03-26 11:49] danielweck opened #277 "ReadiumSDK.version() is a function that returns 0.8 !!"
https://github.com/readium/readium-shared-js/blob/master/js/globals.js#L35

Should be `window.navigator.epubReadingSystem.readium.buildInfo.version` or `window.navigator.epubReadingSystem.version`

https://github.com/readium/readium-shared-js/blob/master/js/globals.js#L132

[2016-03-26 11:51] danielweck commented on #277
Note that `navigator.epubReadingSystem.version` is 0.0.0 !! (should be synced with `window.navigator.epubReadingSystem.readium.buildInfo.version`)
Tested with cloud reader:
https://readium.firebaseapp.com
and Chrome extension too.

[2016-03-26 11:53] danielweck commented on #277
Also, `navigator.epubReadingSystem.readium` is undefined in the library view, only instantiated in the reader view.

[2016-03-26 11:55] danielweck opened #278 "Link handler target=_BLANK, opened link can redirect window.opener, potentially malicious."
See:
https://mathiasbynens.github.io/rel-noopener/

[2016-03-26 11:56] danielweck commented on #278
See code:
https://github.com/readium/readium-shared-js/blob/develop/js/views/internal_links_support.js#L210

[2016-03-26 12:06] danielweck commented on #267
In the CSS box model, the `margin`, `border`, and `padding` values must be taken into consideration when working with the image dimensions (or any other element, for that matter), depending on the value of the `box-sizing` property (see `border-box`). So you could indeed end-up with a `max-height` constraint that not only does not work when there are other visible elements before or after the imag

[2016-03-28 14:18] danielweck commented on #278
Example with "Accessible EPUB3", link `http://my.safaribooksonline.com`:

https://readium.firebaseapp.com/?epub=epub_content%2Faccessible_epub_3&goto=%7B%22idref%22%3A%22id-id2442754%22%2C%22elementCfi%22%3A%22%2F4%2F2%5BI_book_d1e1%5D%2F2%2C%2F1%3A0%2C%2F1%3A1%22%7D

Note how the original link is authored with `target="_top"`, but Readium redirects to `_blank` (new window / tab in the web browser

[2016-03-29 07:42] danielweck commented on #276
Work in progress:
https://github.com/readium/readium-shared-js/wiki/ContentModifications

[2016-03-29 14:56] #276 closed

[2016-03-29 15:00] danielweck commented on #277
Also note the API `Readium.getVersion()` and `Readium.version` in:
https://github.com/readium/readium-js/blob/develop/js/Readium.js#L242

[2016-03-29 15:50] rkwright opened #279 "Long lines of MathML are not always broken correctly"
A user on the forum has complained that long lines of MathML (i.e. very long equations) are not broken properly and, in effect, run off the page.
Forum topic is [here](http://idpf.org/forum/topic-2990)
I have requested more info but have not yet heard back.
Peter Krautzberger commented:
"Inline line breaking is difficult and MathJax doesn't support as much as we'd like. But it sounds like somethin

[2016-03-29 16:22] rkwright commented on #275
Changed priority to High from Blocking.  Would have made it medium except that the problem book
was generated in InDesign

[2016-03-30 07:41] pkra commented on #96
Is this not fixed by now?

[2016-03-30 07:49] danielweck commented on #96
Looks good to me:
https://readium.firebaseapp.com/?epub=https%3A%2F%2Fcdn.rawgit.com%2FIDPF%2Fepub-testsuite%2Fmaster%2Fcontent%2F30%2Fepub30-test-0100&goto=%7B%22idref%22%3A%22xhtml-mathml-001%22%2C%22elementCfi%22%3A%22%2F4%2F4%2F2%5Bmathml%5D%2C%2F1%3A0%2C%2F1%3A1%22%7D

[2016-03-30 07:49] #96 closed

[2016-03-30 07:58] pkra commented on #279
=> subscribed.

Let me know if there's a sample. @danielweck I can never find the configuration of MathJax within Readium. Could you point me to it once again? (To see how line-breaks are configured.)

[2016-03-30 08:05] danielweck commented on #279
Readium offline Chrome extension:
https://github.com/readium/readium-shared-js/blob/develop/js/views/iframe_loader.js#L95

Readium online cloud reader:
https://github.com/readium/readium-js/blob/develop/js/epub-fetch/iframe_zip_loader.js#L209

Same config code for both:

[code]

Full code snippet:

[code]

[2016-03-30 10:12] pkra commented on #279
Thanks, @danielweck. So it looks like Readium does not activate MathJax's automatic line-breaking feature. I'd say it's a useful feature (possibly user-configurable); it does have a performance penalty (since it has to lay things out, check if things are too wide, if too wide: find breakpoints, lay things out again).

See also http://docs.mathjax.org/en/latest/output.html#automatic-line-breaking.

[2016-03-30 18:27] JCCR commented on #267
Maybe using this multi column css directive would work:
https://css-tricks.com/almanac/properties/b/break-inside/

[2016-03-31 14:58] danielweck opened #280 "spineItem object with "dynamically" attached paginationInfo data in reflowable view (not FXL or scroll)"
`loadSpineItem()` in reflowable_view:
https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L204

[code]

The `paginationInfo` field is missing in the one_page_view (which drives both FXL and scroll modes!) `loadSpineItem()`:
https://github.com/readium/readium-shared-js/blob/develop/js/views/one_page_view.js#L774

This is needed in the highlight plugin:
https://gith

[2016-03-31 15:03] danielweck commented on #280
Note that `getPaginationInfo()` is actually exposed in several API points:

reader_view:
https://github.com/readium/readium-shared-js/blob/develop/js/views/reader_view.js#L1545

fixed_view:
https://github.com/readium/readium-shared-js/blob/develop/js/views/fixed_view.js#L568

scroll_view:
https://github.com/readium/readium-shared-js/blob/develop/js/views/scroll_view.js#L1116

reflowable_view:
http

[2016-03-31 15:49] danielweck commented on #127
@olivierkorner  wrote a nice `ContentFilter` for ReadiumSDK:
https://github.com/readium/readium-sdk/pull/229

A similar approach in ReadiumJS would not be implemented in `_contentDocumentTextPreprocessor` (as that's only for transforming HTML files):
https://github.com/readium/readium-js/blob/develop/js/Readium.js#L27

Instead, this would require the full "programmatic resource fetching" triggered

[2016-04-01 05:23] danielweck commented on #267
Thanks @JCCR
Related:
https://github.com/readium/readium-sdk/pull/229
https://github.com/readium/readium-shared-js/issues/127#issuecomment-203993962

[2016-04-05 09:31] elEglon opened #281 "Missing the Online "cloud reader" demo"
Dear reader,

As I want to get into contact with Readium as a cloud solution, I tried to open an example, but the demo is gone.

Would you please be that kind and tell me, if there is an other demo online?

Thank you and best wishes
Eglon

[2016-04-05 09:45] danielweck commented on #281
Hello, it looks like you have an obsolete link? (DivShot.io?)
The correct URL is:
https://readium.firebaseapp.com
Alternatively:
https://readium.surge.sh/?epubs=https%3A%2F%2Freadium.firebaseapp.com%2Fepub_content%2Fepub_library.opds

[2016-04-05 09:45] #281 closed

[2016-04-05 09:45] rkwright commented on #281
@elEglon Can you please take a look at the instructions in the readme.md here:
https://github.com/readium/readium-js-viewer
Is this what you were looking for?  If not, could you provide some more specific information about what you are interested in?
Also, please see:
https://docs.google.com/document/d/1bwv89vSmLbUs4tHOwiqyeV546k5CG3RCJ1S6_-4wvvc/edit#heading=h.84j3ouqlcuoa

[2016-04-05 10:00] elEglon commented on #281
Thank you very much for your fast and kind support!

Best wishes
Eglon

[2016-04-08 08:45] rkwright opened #282 "RTL Hebrew books do not render properly - columns are split"
This is a BUG report

Reported on the IDPF forum by hagiler:    http://idpf.org/forum/topic-3020

"I design hebrew e-books for several clients, usually using their own app for books. However, one client wanted to test the book on Readium and found out that the text looks weird: http://imgur.com/I8yd4s8
Note how half of the second page moves to the right of the first page.

I've tried it myself and

[2016-04-08 09:54] rkwright commented on #282
It appears that we have a fix for this, but we are seeing a different problem (but similar, in Arabic).  We are looking at the other problem now.

[2016-04-08 22:01] matwood opened #283 "Multi-Column Layout Pagination is Broken"
If you look here https://github.com/readium/readium-shared-js/blame/develop/js/views/reflowable_view.js#L694 and then here https://github.com/readium/readium-shared-js/blame/develop/js/views/reflowable_view.js#L504 there are a number of issues that I want to fix.
* First the math does not work: (a-b)/c = j  is not reversed with  (j+b)*c It needs to be (j*c)+b The error shows up on books that use t

[2016-04-11 11:45] danielweck commented on #283
Let's see:

(1)
[code]
https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L504

and

(2)
[code]
https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L694

[2016-04-11 11:46] danielweck commented on #283
I do not understand "the math does not work". Are you referring to (1) or (2) (see my message above)

[2016-04-11 11:56] danielweck commented on #283
PS: the `columnGap` is 60px by default (visible blank space between each column of a reflowable two-page spread).
There is an optimal page width (configurable in the cloud reader and Chrome app via a slider control), so the visible "margins" on the left/right of the viewport are arithmetically determined by the window / webview size.

) the columnGap value is fixed.

[2016-04-11 13:45] matwood commented on #283
You're right. I misread a parentheses. Staring at the code too long I guess.

So yes, the only problem is the rounding. The fix I want to implement will take rounding out of the equation and simplify the paging code with less recombining of the parts.

[2016-04-11 14:38] danielweck commented on #283
Did Juan's latest odd/even width fix help in any way? Is that a separate problem?
By the way, thanks for spending time thinking about this, much appreciated.

[2016-04-11 15:14] matwood commented on #283
No problem! Hopefully you didn't spend too much time verifying the calculations were correct.

I'm looking at the development branch a few days old. Is the odd/even fix in there?

From a higher level stand point, it might make sense to simplify the code by decoupling the page turn size from the column size within the page. While minor, it is also doing a lot of calculations for each page turn that

[2016-04-11 16:48] danielweck commented on #283
https://github.com/readium/readium-shared-js/commit/37a514124aaea77e93d561c703244da718f83882

[2016-04-11 18:06] matwood commented on #283
I do not think that fix works when the columnGap is an odd number. Is the columnGap normalized somewhere else?

[2016-04-11 20:48] danielweck commented on #283
Good point @matwood
Added comment: https://github.com/readium/readium-shared-js/commit/37a514124aaea77e93d561c703244da718f83882#commitcomment-17056184

[2016-04-11 22:10] danielweck commented on #283
@JCCR 's useful reply about odd/even `columnGap`: https://github.com/readium/readium-shared-js/commit/37a514124aaea77e93d561c703244da718f83882#commitcomment-17057065

[2016-04-11 22:55] matwood commented on #283
I don't know the code base as well as you guys, but I think @JCCR 's response supports my argument for decoupling the columns inside the page from determining the 'page' size for the left/right or up/down shifts. Knowing that at a minimum the page flip is correct makes it easier/less risky manipulate the layout inside the page.

We can discuss further on tomorrows call.

[2016-04-13 13:11] havarnov opened #284 "Reuse the Readium object and close the current view"
This might be an issue, an user fault or neither, so bear with me.

I want to reuse the Readium instance. I.e.: open a book, close it, then open a new book with the same instance of the Readium object.

My problem is that I want to set some settings before opening the book, e.g. font size and layout type.

[code]

The code above works for 'scroll_view', but not for 'reflowable_view'. That's becaus

[2016-04-13 13:22] danielweck commented on #284
Depending on what you want to achieve, the "prefetch" feature branch might help?
https://github.com/readium/readium-shared-js/compare/develop...feature/prefetch

[2016-04-13 15:52] rkwright commented on #282
Here the sample files provided by the user.  Not yet tested to verify the fix.

https://github.com/readium/readium-test-files/blob/master/issue-files/shared-js/282/Hashlachot_Getbooks.epub

https://github.com/readium/readium-test-files/blob/master/issue-files/shared-js/282/adam_zar.epub

[2016-04-15 02:46] kidwm commented on #127
I think that after [Houdini](https://www.smashingmagazine.com/2016/03/houdini-maybe-the-most-exciting-development-in-css-youve-never-heard-of/) giving more control to CSSOM would help to solve this problem.

[2016-04-18 12:45] rkwright opened #285 "Fixed layout book is clipped almost entirely"
Bavinder Singh wrote (via rkwright@readium.org)
"Previously in older version of Readium, all of our e-Books (fixed layout) was worked fine. But now it's not working in new version.Please check and suggest."

**Expected**:
Should render the document fine.

**Observed**:
Page is almost entirely clipped except the very top 20 pixels or so.  Appears to be placed correctly - just clipped.

**Steps to R

[2016-04-18 21:16] JCCR commented on #285
I think this bug was triggered when we changed the way we scale the iframes in fixed layout books.

A work around fix is to set the html element's height to an explicit value of 100%.

[2016-04-19 11:09] rkwright commented on #285
Unfortunately, telling authors to change their output (or their tool's output) isn't going to work.  We need to figure out what we broke.

[2016-04-19 17:18] danielweck commented on #285
Unfortunately, in this fixed-layout publication the HTML files have zero-height for both the `html` and `body` elements, even in vanilla web browsers (i.e. irrespective of the scaling transform that Readium applies). This is easy to check using the web inspector's CSS tools.

Adding `height:100%` to the HTML via Readium's layout engine (alongside the existing CSS 2D scale transform) *seems* to wor

[2016-04-19 20:14] rkwright commented on #285
As noted above, this works fine in iBooks.  Do we have any idea why it works there?

[2016-04-19 20:18] matwood commented on #285
Based on our limited research into iBooks, it appears to ignore much of the formatting from the EPUB and apply its own. Given all the problematic EPUBs we have come across we have debated doing something similar.

[2016-04-21 12:03] Seanberite opened #286 "Get CFI of a scentence in the epub-book"
Is it possible to extract the CFI of a word or string that is on the page given the specific xhtml file and the specific sentence. I'm implementing a search function and I already know that the specific sentence is on the page, but i need to extract the CFI.

[2016-04-22 12:54] danielweck commented on #285
It works in iBooks because they set the `style` attribute for the HTML root element (of fixed-layout spine items) to `width: WWpx; height: HHpx;`, where `WW` and `HH` are the same values as given by `<meta name="viewport" content="width=WW, height=HH" />`. Page scaling is not performed at the HTML level (unlike Readium), probably in the native webview container instead. PS: the body height is zero

[2016-04-22 13:28] danielweck commented on #285
Ah, actual W/H dimensions cause content that contains overflow:auto (like this one) to produce scrollbars. Reproducible in all major browsers. Damn! So let's use percentages.

[2016-04-22 13:49] danielweck commented on #285
Ah, gotta love CSS! The `min-width/height` trick actually works when used with viewport dimensions. I'm double-checking with other web browsers...

[2016-04-22 14:14] danielweck commented on #285
Fixed here:
https://github.com/readium/readium-shared-js/commit/1a70c0b31ae39b56714d282a7b8c261b7328f80b

Tested for regression bugs with fixed-layout EPUBs that used to work fine. The only significant change is the `min-width/height` on the root HTML element ; alongside the existing CSS scale transform ; which tricks the browser / webview into rendering the whole visible surface (setting 100% act

[2016-04-22 14:14] #285 closed

[2016-04-22 14:22] danielweck commented on #285
As promised, I updated the wiki documentation: https://github.com/readium/readium-shared-js/wiki/ContentModifications#scaling

[2016-04-22 14:35] danielweck commented on #286
Hello, I see you've already started working with @larsvoigt 's `epub-full-text-search` project:
https://github.com/Seanberite/epub-full-text-search/commits/master

Let's join @JCCR to this discussion.
You can convert user selections and DOMRanges via Readium's CFI API, but I'm not sure about doing this without loading the HTML document into a webview (i.e. from the DOM). I assume you want to load

[2016-04-22 16:06] rkwright commented on #285
Thanks Daniel.  I'll follow up with the use to see if I can find out which tool was used to author it.  Not given in the metadata.

[2016-04-23 15:11] rkwright commented on #285
Got a reply from the user:

Thanks for the update.

I have created in-house Automation Tool for EPUB (Window Application and Linux App for web). Using this, I can able to convert from PDF to ePub3. This will give me very accurate (99%) output and save lot of manual production hours. It's good for complex fixed layout including math books. Conversion is 100% error free and compatible with Ipad, Goo

[2016-04-25 13:58] danielweck commented on #282
I can reproduce with the latest cloud reader app (built from `develop` branch):
https://readium.firebaseapp.com/?epub=https%3A%2F%2Frawgit.com%2Freadium%2Freadium-test-files%2Fmaster%2Fissue-files%2Fshared-js%2F282%2FHashlachot_Getbooks.epub&goto=%7B%22idref%22%3A%22Hashlachot_Getbooks-3%22%2C%22elementCfi%22%3Anull%7D
(Chrome web browser, full screen, on Window 10)

[2016-04-25 14:01] danielweck commented on #282
@JCCR there's a CFI -related message in the web console. Would you mind taking a look?

[2016-04-25 14:05] danielweck commented on #282
@JCCR in that same ebook ( https://github.com/readium/readium-test-files/blob/master/issue-files/shared-js/282/Hashlachot_Getbooks.epub ), there's a "severe" CFI error:

`Uncaught IndexSizeError: Failed to execute 'setEnd' on 'Range': The offset 14 is larger than or equal to the node's length (13)`
at `cfi_navigation_logic.js` line 914

Press the left arrow (i.e. next page) and you should see an i

[2016-04-25 18:17] duanwalker opened #287 "Opera on windows 10 is not displaying properly"
student tester Andrei Tenea has discovered black squares randomly displaying in Opera only.
using:
readium 2.22.3
Opera 36.0.2130.70
windows 10 home 8GB
PC Lenovo IDeaPad U530 Touch

![image](https://cloud.githubusercontent.com/assets/7536426/14794061/06a07b0a-0af0-11e6-9ffa-247b6df1063b.png)

![image](https://cloud.githubusercontent.com/assets/7536426/14794068/0ee62dd2-0af0-11e6-9271-9bc6d17d9c4d

[2016-04-26 13:12] larsvoigt commented on #286
Hello,
thanks @danielweck  for cc'ed me,

I think the intension is, that ```epub-full-text-search``` (server)  should only deliver the partial cfi (e.g. “/6/6[c01ref]! -> spineitem ref) of any search query and than complete cfi on the client (readium cloud reader).

The question to the readium developers could be:
After the specific spineitem (navigation to partial cfi) is loaded (readium client).

[2016-04-26 16:38] matwood commented on #283
I created a PR here: https://github.com/readium/readium-shared-js/pull/288

In my testing it worked, but please double check my assumptions with the math. The simplification here was to calculate the full page size whenever update pagination is called and use that calculation to turn the pages. Constantly rebuilding the page size from the columns on the page opened up issues with rounding and unne

[2016-04-27 18:37] duanwalker opened #290 "HTML 5 Input controls are quite unreliable"
per student tester Andrei:
you can type several characters but after that the control disappears and the application jumps to another test

tested with Chrome on LG Nexus 5

[2016-04-27 18:40] duanwalker opened #291 "Media Overlay is very unreliable in both Reflowable and Fixed Layout contexts"
per student tester Andrei:
reader stops randomly and sometimes to resume it you must reload the test/page; synchronization gets lost randomly

Chrome on LG Nexus 5

[2016-04-27 18:41] duanwalker opened #292 "font is too small to be readable with Chrome on LG Nexus 5"
per student tester Andrei:
  In Fixed Layout even if the general layout of the page/s is correct, the font is too small to be readable

Chrome on LG Nexus 5

[2016-04-27 18:42] duanwalker opened #293 "screen rotation fail"
per student tester Andrei:
Several times during testing my phone did not want to rotate anymore, and I had to restart it to get it back to normal, and restart testing

tested with Chrome on LG Nexus 5

[2016-04-29 01:44] JCCR opened #294 ""Range" CFI with singular text offset terminus step is treated as an "Element" CFI"
1) Example Range CFI with a start and end offset: `/6/14!/4,/2/14/1:4,/2/16/1:7`
2) Example CFI with a single text terminus: `/6/14!/4/2/14/1:4`

Bug: CFI 2 is treated as `/6/14!/4/2/14/1`
Expected: CFI 2 should be used with the text offset

A PR with a fix is in the works by me

CFI library doesn't need changes as it provides the utilities to do this for the readium layer

[2016-05-03 21:04] JCCR commented on #257
Confirmed that this is broken on iOS and Safari, but not Chrome/Firefox when `user-select: none` is used

[2016-05-12 16:18] rkwright commented on #287
This issue was moved to readium/readium-js-viewer#525

[2016-05-12 16:18] #287 closed

[2016-05-12 16:26] rkwright commented on #290
This issue was moved to readium/readium-js-viewer#526

[2016-05-12 16:26] #290 closed

[2016-05-13 01:44] JCCR commented on #127
@danielweck
The better approach would be to perform a second layout/render like you said, but we can leverage Shadow DOM and its scoped CSS approach. Using the shadow DOM would also keep CFI references intact :)

[2016-05-13 13:52] rkwright commented on #40
Closing as fixed (long ago)

[2016-05-13 13:52] #40 closed

[2016-05-16 05:35] danielweck commented on #61
Closing, for two reasons:
1) there is a simple low-level context-agnostic "plugin framework" in the build system of `readium-shared-js`, see https://github.com/readium/readium-shared-js/wiki/Plugins + https://github.com/readium/readium-shared-js/tree/develop/plugins
2) this issue is too generic, some of the suggested plugin use-cases are higher-level (they require custom `readium-js-viewer` UI / U

[2016-05-16 05:35] #61 closed

[2016-05-16 05:38] danielweck commented on #42
Closing, as there are many other areas in the source tree that would need refactoring / re-organising. This will probably be the subject of a future development phase aiming for improving modularity on a much broader scale (scope: all repositories / submodules).

[2016-05-16 05:38] #42 closed

[2016-05-17 10:30] mahag commented on #282
I did run my tests over several browsers and operating systems.
Google chrome fails on most of Os :windows 7 ,windows 8,windows 10 ,ios(google chrome app in iphone/ipad)
IE 11and edge worked correctly under windows
Safari in IOS worked too
So this might be related to something in google chrome

Any updates?

[2016-05-18 03:53] danielweck commented on #282
thanks @mahag, for your tests.
no development news on that front as far as I can tell.

[2016-05-26 06:39] xieweizhi commented on #257
@JCCR

Hey,  I'm working on a bookmark feature on iOS.  It's ok when calling `openSpineItemElementCfi` . After this I open the next page , the webView is totally blank. Do you have any idea why ?

[2016-05-26 21:46] danielweck commented on #282
Related: https://github.com/readium/readium-js-viewer/issues/516

[2016-05-26 21:52] danielweck commented on #282
I am not able to reproduce this bug in the latest Chrome (Windows 10):
https://readium.firebaseapp.com/?epub=https%3A%2F%2Frawgit.com%2Freadium%2Freadium-test-files%2Fmaster%2Fissue-files%2Fshared-js%2F282%2FHashlachot_Getbooks.epub&goto=%7B%22idref%22%3A%22Hashlachot_Getbooks-3%22%2C%22elementCfi%22%3Anull%7D

[2016-05-26 21:55] danielweck commented on #282
I am not able to reproduce with this one either: https://readium.firebaseapp.com/?epub=https%3A%2F%2Fcdn.rawgit.com%2FIDPF%2Fepub3-samples%2Fmaster%2F30%2Fisraelsailing&epubs=epub_content%2Fepub_samples.opds&

[2016-05-26 21:57] danielweck commented on #282
Helicon's dev says that this fixes the bug (which ; unfortunately ; I am not able to reproduce):

https://github.com/readium/readium-shared-js/blob/develop/js/views/reflowable_view.js#L779
[code]

[2016-06-01 12:37] rkwright opened #295 "Internal hyperlink not going to proper place in Readium reader"
This is a BUG report.

Reported by Santosh Kumar Mishra <smishra@vprompt.com>

Please guide us. We created ePub the footnote link is working on other reader. But the linking is not working properly in Readium.

Using the Chrome Extension with the issue file here.

Example: chapter06.xhtml
<p class="Para">Paragraph Content <sup><a id="chap6-6" href="chapter06.xhtml#chap6r6">6</a></sup> paragraph co

[2016-06-01 12:51] rkwright commented on #295
Cannot reproduce.  Seeking more info.

[2016-06-07 17:07] danielweck commented on #74
Benetech Bookshare open-source code:
https://github.com/benetech/readium/blob/0.5.0-bookshare/scripts/utils/benespeak.js#L110
(`chrome.tts.speak` API, not cross-platform HTML5 Speech API)

[2016-06-08 15:16] danielweck opened #296 "EPUB spec: FXL content must be clipped when meta viewport is smaller"
http://www.idpf.org/epub/301/spec/epub-contentdocs.html#sec-fxl-xhtml-svg-dimensions

Reading Systems must clip XHTML content to the ICB dimensions declared in the viewport meta tag; content positioned outside of the initial containing block will not be visible.

When the ICB aspect ratio does not match the aspect ratio of the Reading System content display area, Reading Systems may position the I

[2016-06-08 15:20] danielweck commented on #296
https://github.com/readium/readium-shared-js/blob/develop/js/views/one_page_view.js#L606

[code]

[2016-06-09 16:35] danielweck commented on #283
Waffle: connects to #288

[2016-06-10 13:50] #121 closed

[2016-06-13 18:13] rkwright opened #297 "apidocs npm build step fails to pick up all params"
#### This issue is a Bug

Our build system based on node (npm) has a build step named _apidocs_.  It reads all the JS code and extracts the annotated methods and parameters etc and generates HTML documentation.

#### Related issue(s) and/or pull request(s)
None

#### Expected Behaviour
The build step should read all the source code and generate appropriate HTML output

#### Observed behaviour
The

[2016-06-13 19:04] danielweck commented on #297
wow! a blank line!?
thanks for looking into this.

[2016-06-13 19:11] rkwright commented on #297
Right, so we have to choose whose syntax to support.  We are currently using yuidoc and I kind of like their output a bit better.

BTW, I worked with yuidoc a while ago and tweaked their Hogan mustache code to get a more Readium-like output, i.e. akin to the Readium.org site (colors, etc.)  Of course, now we (Sarah) has rewritten the site but I'll take a look at what I did then and see if any of i

[2016-06-14 16:12] danielweck commented on #297
`readium-js-viewer`:
https://github.com/readium/readium-js-viewer/blob/develop/yuidocs.json

`readium-js`:
https://github.com/readium/readium-js/blob/develop/yuidocs.json

`readium-shared-js`:
https://github.com/readium/readium-shared-js/blob/develop/yuidocs.json

`readium-cfi-js`:
https://github.com/readium/readium-cfi-js/blob/develop/yuidocs.json

[2016-06-14 21:51] derekriemer commented on #73
also see readium/readium-js-viewer/pull/532

[2016-06-16 10:45] elEglon opened #299 "little bug with links and navigation; any known workaround?"
Dear readers,

Opening a fixed layout EPUB3 in Readium I got the following problem:
Navigating via the arrows works fine, but jumping via link to a page and navigate with the arrow to the next page, opens the "next" page of the page where I took the link from, so the arrow-navigation didn't realise the jump via link.
Any ideas for a workaround are welcome!
Best wishes
Eglon

[2016-06-16 14:51] rkwright commented on #299
I was unable to reproduce this.  Can you provide the file that demonstrates this? Attach to this issue, post to DropBox or send it to rkwright@readium.org.  thanks

[2016-06-22 14:12] olivierkorner opened #300 "Font loader not working properly on Apple platforms"
#### This issue is a Bug
#### Expected Behaviour

FontLoader callback should be called when the embedded fonts used in the spine item are loaded, triggering layout and pagination update in reflowable view.
#### Observed behaviour

FontLoader fails to detect if and when fonts are loaded and instead times out after 1.5 seconds, delaying page rendering.
#### Steps to reproduce
1. Open a reflowable EP

[2016-06-22 14:34] rkwright commented on #300
@olivierkorner Can you send me one of the sample files? I will also test on my end with one of mine.  Are the fonts obfuscated?

[2016-06-22 16:05] danielweck commented on #300
+ @JCCR
See:
https://github.com/readium/readium-shared-js/pull/179/files
https://github.com/readium/readium-shared-js/pull/244/files

[2016-06-22 16:15] danielweck commented on #300
Default timeout is indeed 1.5s
https://github.com/readium/readium-shared-js/pull/179/files#diff-0bccb654123a1e8f4ed3ccb175c99639R211
[code]

[2016-06-22 16:18] danielweck commented on #300
FontLoader: https://github.com/smnh/FontLoader

[2016-06-24 09:42] danielweck commented on #300
FYI, in the "Open Dyslexic / Custom Fonts" feature branch started by @derekriemer I implemented changes to the `FontLoader` integration strategy, in order to handle "dynamic" font-face loading when the user picks a font-family from the options list (as opposed to just "waiting for fonts" immediately after the `iframe@src` is set). I wired-up the `link@href` "onload" event as well (to detect CSS fi

[2016-06-26 01:18] JCCR commented on #300
I have noticed warnings coming from https://github.com/smnh/FontLoader about the size watcher on Apple devices

[2016-06-29 16:49] rkwright opened #302 "Fixed layout page is clipped on side and bottom"
#### This issue is a Bug

#### Related issue(s) and/or pull request(s)
None?

#### Expected Behaviour
Page should be rendered without being clipped

#### Observed behaviour
Page is laid out such that the right side and bottom are clipped

#### Steps to reproduce
1. Open the sample book here
2. Navigate through the book (e,g, to page that begins "When he was seven..."
3. Note that some text is clip

[2016-06-29 20:01] olivierkorner commented on #300
Native Font Loading API is coming to Webkit:
https://webkit.org/blog/6643/improved-font-loading/

[2016-07-02 16:31] rkwright opened #303 "TOC Links do not always go to correct location"
#### This issue is a Bug

#### Related issue(s) and/or pull request(s)
There are a number of navigational bugs, e.g. #295, etc.

#### Expected Behaviour
When the TOC entry is clicked, it should navigate to the correct location

#### Observed behaviour
Instead, the reader is taken to the wrong page (though the correct chapter)

_Note: There are many variants of the Matt Garish Accessibility EPUB.

[2016-07-05 15:41] johanpoirier commented on #275
I faced this very same issue today with a book from InDesign and I didn't found an acceptable way to solve it.

The only hack I found was to compare the ```iframe.src``` value with the ```iframe.contentWindow.location.href``` during the ```load``` event of the iframe.
If those 2 values are different, we call the ```openContentUrl()``` method with the new URL.
It kinda works but the content flashes

[2016-07-05 15:58] danielweck commented on #275
Yes, it is a good idea to listen to the iframe `load` event, as any EPUB-scripted change to `window.location.href` would be detected there.

[2016-07-06 18:56] bradleygore commented on #280
I believe that the fixed view has a same/similar issue, so posting this here instead of a new issue. If it needs a new issue, please advise and I'll be happy to do so.

I'm using Readium v0.23.0 and have noticed that highlights are broken for the fixed view type as well. What I'm seeing is the same lack of any result from the `getPaginationInfo()` method call.

If you look in reflowable_view:loadS

[2016-07-08 11:44] olivierkorner opened #305 "jQuery 3 breaks IFrameLoader"
#### This issue is a Bug

#### Observed behaviour
Javascript Error in IFrameLoader

#### Steps to reproduce
Build readium-shared-js with `npm run build`.
It will updated jQuery to lastest, version 3, where the load method has been removed.
Launch reader extension or app...

### Product
* Readium Chrome extension
  * latest official version available from the Chrome Web Store
  * Version of the Chr

[2016-07-08 12:22] danielweck commented on #305
jQuery is locked to v2.x to ReadiumJS:
https://github.com/readium/readium-cfi-js/blob/develop/package.cson
(NPM dependency semver)

[2016-07-08 12:23] danielweck commented on #305
also see:
https://github.com/readium/readium-cfi-js/commit/f7ccbd2e223e44b20556ffdf1bfa8de15edd80ac

[2016-07-08 12:25] danielweck commented on #305
there were other breaking changes because of v3
we need to run some kind of sanity checks / regression tests.
see https://github.com/readium/readium-cfi-js/issues/51

[2016-07-08 13:45] olivierkorner commented on #305
I don't know what happened then. Maybe I forgot to checkout reading-cfi develop latest. I noticed jquery-sizes depends on jquery latest: I don't know which dependency has priority over the other...

[2016-07-08 16:32] danielweck commented on #305
Thanks for the heads-up about the jQuery Sizes plugin.
NPM v2 (NodeJS v4) resolves the dependency by downloading the core jQuery lib in the appropriate node_modules subfolder. However Readium configures the RequireJS optimiser to bundle up jQuery from the top-level node_modules folder.
So, we need to make sure that jQuerySizes continues to work with jQuery v2 !

[2016-07-11 08:42] tarekalahy opened #307 "Package_data object unused and misleading."
There's a strange object defined in shared-js model named PackageData (in
package_data.js). It seems to be unused and incomplete. The real structure passed from the host application is much more complex than this one.

Daniel Weck said: "Well, removing it would break the build, as there is one compile-time
dependency in the AMD (RequireJS) function signature of
js/models/package.js
That being said

[2016-07-12 16:56] danielweck commented on #305
Fixed in PR https://github.com/readium/readium-shared-js/pull/306
(thanks @olivierkorner )

General jQuery upgrade issue (v2 -> v3) remains: https://github.com/readium/readium-cfi-js/issues/51
To be investigated further (other breaking changes?)

[2016-07-12 16:56] #305 closed

[2016-07-13 15:52] danielweck commented on #71
Mantano / Bookari screenshot:
![img_5882](https://cloud.githubusercontent.com/assets/17047162/16525609/838a78ae-3fad-11e6-8947-1a7ff0f54650.PNG)
...and my comment regarding the link@class default standardized vocabulary:
https://github.com/IDPF/epub-revision/issues/668#issuecomment-232396601

[2016-07-13 15:53] danielweck commented on #71
...and my comment regarding the link@class default standardized vocabulary:
https://github.com/IDPF/epub-revision/issues/668#issuecomment-232396601

[2016-07-22 17:14] danielweck commented on #283
Similar (identical) issue? https://github.com/readium/readium-shared-js/issues/181

[2016-07-22 17:14] danielweck commented on #181
Similar (identical) issue? https://github.com/readium/readium-shared-js/issues/283

[2016-07-22 17:40] danielweck opened #310 "jQuery + iFrame issues (e.g. .css() function, possibly others), maybe general getComputedStyle issue?"
Originates from:
https://github.com/readium/readium-shared-js/pull/221#issuecomment-155487513

See jQuery issue:
https://github.com/jquery/jquery/issues/2622

[2016-07-22 18:23] danielweck opened #311 "PAGINATION_CHANGED event: how to wait for any pre-processing steps that affect rendering"
For example:
- image tap behaviour (good use-case for plugin too)
- page-break replacement with column-break (specific to reflow view mode)
- etc.

This sounds like an extension point to me. And actual implementation providers could be integrated into the app as plugins (as per the existing plugin framework).

[2016-07-27 16:55] olivierkorner opened #312 "ScrollView isn't using any font loading mechanism"
#### This issue is a Bug
#### Related issue(s) and/or pull request(s)
#300

https://github.com/readium/readium-shared-js/pull/304
https://github.com/readium/readium-shared-js/pull/308
#### Expected Behaviour

View should make sure the fonts are loaded before layout, or update layout on font load.
### Product

All

[2016-07-27 17:09] danielweck commented on #312
Also note that the OpenDyslexic / custom font feature branch implements a change in where the FontLoader "wait" function is invoked (not just to detect authored fonts at load-time, but also user-specified fonts at read-time). See:
https://github.com/readium/readium-shared-js/pull/301/files#diff-5899c9a9fc900e9651da6e2d81f3025bL223

[2016-08-02 18:59] bradleygore opened #313 "Sporadic CFI Parser Issue"
#### This issue is a Bug

Sometimes when adding highlights to epub content, we get this error in the console:
`SyntaxError: Expected "!/" or "/" but ")" found.`

I've added as a bug here instead of readium-js-viewer since the error is originating from cfi_parser_gen.js

#### Expected Behaviour
Expected it to generate / parse a selection of text such that it doesn't break

#### Observed behaviour
S

[2016-08-02 19:38] rkwright commented on #313
Thank you for this very thorough bug report (issue).  We'll look into it, but unfortunately the rendering of MathML in Readium is done using Mathjax.  Now Mathjax works in several ways.  One of them is to render the code in HTML.  Another is using SVG.  For several (partially historical) reasons Readium uses the SVG output.  Now the CFI parser **should** handle SVG as well as HTML, but I'm sure it

[2016-08-02 19:46] bradleygore commented on #313
Hey @rkwright thanks for the response! I actually think this bug report should've gone in the readium-cfi-js repo, and I've added a comment to [the issue there](https://github.com/readium/readium-cfi-js/issues/47) back to here. While the example in the screenshot is with MathXL content, it's happening on more content - like, I've got some content where it's just text with some parenthesis and it b

[2016-08-02 19:50] rkwright commented on #313
@bradleygore OK.  Thanks for the response.  If you have non-SVG content that can reliably be reproduced, we'd love to see it.  The CFI code is quite critical and used by both the native and JS stacks, so we would very much like to fix any bugs.

[2016-08-02 21:20] bradleygore opened #314 "IndexSizeError: cfi_navigation_logic.js - findVisibleLeafNodeCfi"
#### This issue is a Bug

#### Expected Behaviour
Get the range of selected nodes and highlight them.

#### Observed behaviour
`findVisibleLeafNodeCfi` is generating this error:
**IndexSizeError: Index or size is negative or greater than the allowed amount**

#### Steps to reproduce
1. Open an epub with a fixed-layout and an image background
2. Set breakpoint at [highlights manager line 117](https

[2016-08-02 21:26] bradleygore commented on #313
@rkwright Please find attached a simple epub where we're able to really consistently reproduce the issue.
[fixed_layout.epub.zip](https://github.com/readium/readium-shared-js/files/398166/fixed_layout.epub.zip)

[2016-08-03 13:41] havarnov opened #315 "The highlight plugin throws an exception if the current spineItem doesn't have a 'paginationInfo'"
#### This issue is a Bug
#### Expected Behaviour

The highlight manager should handle to add highlights event if the current context have a spineItem without paginationInfo.
#### Observed behaviour

The highlight plugin throws an TypeError if the current context have a spineItem without paginationInfo:

[code]
#### Steps to reproduce
1. Start Readium with Readium::openPackageDocument where openPag

[2016-08-03 17:29] danielweck commented on #315
Is that related to https://github.com/readium/readium-shared-js/issues/280 ?

[2016-08-03 17:29] danielweck commented on #280
Related bug: https://github.com/readium/readium-shared-js/issues/315 ?

[2016-08-03 18:01] bradleygore commented on #280
@danielweck Yep, exactly. Didn't see that open bug already existed when making my comment.

[2016-08-04 15:53] danielweck commented on #280
Related (duplicated) issue? https://github.com/readium/readium-shared-js/issues/314

[2016-08-04 15:53] danielweck commented on #314
Duplicated issue? https://github.com/readium/readium-shared-js/issues/280

[2016-08-04 15:56] bradleygore commented on #314
No, this isn't a dup. This is the error that you'll see once #280 is fixed, as I've included the workaround for #280 in the instructions for reproducing the issue.

[2016-08-04 15:57] danielweck commented on #314
Okay thanks for the clarification! :)

[2016-08-04 16:00] danielweck commented on #314
@bradleygore I suspect that the empty `paginationInfo` object simply "postpones" the occurrence of the bug (because the data in `paginationInfo` is needed for highlights to function properly, right?). I need to run some tests too, but ultimately, `paginationInfo` cannot just be empty.

[2016-08-04 16:06] bradleygore commented on #314
@danielweck You're very likely right - I'm still trying to grok what all is going on, so could be that once the `paginationInfo` issue is fixed the right way, vs my poor hack around, that this will get resolved along with it :)

[2016-08-04 16:32] danielweck commented on #313
Related issue: https://github.com/readium/readium-cfi-js/issues/47

[2016-08-15 16:36] danielweck opened #318 "Plugins config (highlighter) excluded from Chrome ext, but enabled in cloud reader app"
See:
https://github.com/readium/readium-shared-js/commit/ca907787342889bed121b7aa90be256a827c882d

TODO: create a build config that ensures the highlighter plugin is built and deployed to Firebase for the cloud reader, but NOT in the Chrome extension.

https://github.com/readium/readium-shared-js/blob/develop/plugins/plugins.cson

Also, need to figure-out why the `build-output` folder in readium-s

[2016-08-15 16:43] danielweck opened #319 "Console debug log level, or at least on/off toggle in build / runtime config"
See:
https://github.com/readium/readium-shared-js/commit/36ae405d90c8a43ad9b32646062f7a88160a606f
https://github.com/readium/readium-shared-js/commit/848e17a3adae94d9700bc8bd759408d757d4c8fa

TODO: there are disconnected `DEBUG` boolean variables in various parts of the code, we need a high-level switch to make debugging easier.

See `ReadiumSDK.DEBUG_MODE`:
https://github.com/readium/readium-shar

[2016-08-17 19:41] danielweck commented on #307
For reference:
https://github.com/readium/readium-shared-js/blob/develop/js/models/package.js#L25
https://github.com/readium/readium-shared-js/blob/develop/js/models/package_data.js#L27

[2016-08-18 19:04] rkwright opened #320 "Race condition in media_overlay_player.js on slow devices"
Reported by Michelle Sintov

#### This issue is a Bug

#### Related issue(s) and/or pull request(s)
None

#### Expected Behaviour
Shouldn't cause race condition

#### Observed behaviour
Bug description: On BNN Nook Tab S2, display of text being read was not advancing

The issue was that unfortunately, other code in our app made the app generally run slower, so the media overlay code would fail due

[2016-08-18 19:21] rkwright opened #321 "Text being read in MO not being displayed"
Reported by Michelle Sintov
"On Android [LG G Pad](http://www.lg.com/us/tablets/lg-AK495-lg-g-pad-f-8.0-2nd-gen), display of text being read not shown for media overlay. The Space Aliens epub reproduced this."

#### This issue is a Bug

#### Related issue(s) and/or pull request(s)
None known

#### Expected Behaviour
Text should be displayed when read

#### Observed behaviour
Text apparently not di

[2016-08-18 19:25] rkwright opened #322 "Reading of title of book overlaps with beginning of text"
#### This issue is a Bug

Reported by Michelle Sintov:
On Lenovo Tab 2, book title is read out loud and the title words verbally overlap the beginning of the reading of the actual book text. The Space Aliens epub reproduced this.

#### Related issue(s) and/or pull request(s)
None known

#### Expected Behaviour
Reading sections should not overlap

#### Observed behaviour
Apparently they do?!  How??